@bkgDarkRed: #A70919;
@circleOrange:  #ED6408;
@circleDarkOrange: darken(spin(@circleOrange, -5%), 10%);
@circleWhite: #FFF;
@circleBlue: #7FA9D8;
@circleDarkBlue: #4790E1;
@circleDarkGrey: #4A4A4A;
@circleLightGrey: #F8F8F8;
@circleBlack: #000;
@circleYellow: #FDA511;
@logoBlue: #4890E1;
@btnOrange:#FCA513;
@btnDarkOrange: #EE6B0B;
@btnBlue: #4A90E2;
@btnDarkBlue: #386FAE;
@modalMediumGray: #9B9B9B;
@modalMediumGrayBorder: #D4D4D4;

@circleHeaderBlue: #498FE1;
@circleModalInputBorder: #376FAE;
@circleModalLinkColor: #4990E1;

@bgModal: #F2F2F2;
@bgGradientLightStart: #d7520a;
@bgGradientLightEnd: #b72214;
@bgGradientDarkStart: #c34025;
@bgGradientDarkEnd: #b81d1c;
@bgBottomManifest: #C83310;

@bottomBorderColor: #474B4D;

@tabTopBorderColor: #CBCAD8;

@withdrawalAddressGray: #2C3338;

@starImage: 'http://d35r7doxonlt1h.cloudfront.net/img/star.png';
@menuIconsSprite: 'http://d35r7doxonlt1h.cloudfront.net/img/menuIconsSprite.png';

@wheelWidth: 521px;
@wheelThumbWidth: 37px;

.primary-font (@fontSize: 24px, @fontWeight: 400){
    font-family: "Roboto Slab";
    font-size: @fontSize;
    font-weight: @fontWeight;
}

.secondary-font (@fontSize: 14px, @fontWeight: 400){
    font-family: "Montserrat", non-serif;
    font-size: @fontSize;
    font-weight: @fontWeight;
}

a {
    color: #fff;
    text-decoration: underline;
}

p {
    font-family:"Helvetica Neue", Arial;
    font-size:13px;
    font-weight:300;
}

.btn {
    background-color: @btnOrange;
    border:none;
    border-bottom:4px solid @btnDarkOrange;
    color:white;

    .secondary-font(20px, 400);
    .text-shadow(0 2px 0 rgba(0,0,0,0.2));
    .border-radius(0);

    &.btn-navigation {
        background-color: inherit;
        .border-radius(0);
        border-bottom: 1px solid @modalMediumGrayBorder;
        width: 100%;
        text-align: left;
        text-shadow: none;
        .secondary-font(24px, 400);
        color: @circleBlack;
        padding:10px;

        .glyphicon {
            margin-right: 10px;
            color: @modalMediumGray;
        }

        &:hover {
            background-color:@btnBlue;
            border-bottom: 1px solid @btnDarkBlue;
            text-decoration:underline;
            text-shadow: none;
            color: white;
            .glyphicon {
                color:white;
            }
        }
    }

    &:hover, &.active, &:focus {
        background-color:@btnBlue;
        border-bottom:4px solid @btnDarkBlue;
        .text-shadow(0 2px 0 rgba(0,0,0,0.2));
        color:white;
    }
}

.btn-lg {
    padding:10px 20px;
}
#btn-group {
    margin-top:15px;
    margin-bottom:10px;
}

#header {
    ul {
        list-style-type:none;
        margin:0;
        padding:0;
    }

    .active-user-box {
        display: inline-block;
        max-width: 320px;
        word-wrap: break-word;
        vertical-align: middle;

        a:hover {
            cursor: pointer;
        }

        .logged-in-box {
            margin-top: 10px;
            background-color: #333;
            color: @circleWhite;
            padding: 2px 5px;
            a {
                color: @circleDarkBlue;
            }
        }

        .address-box {
            display: inline-block;
            width: 86%;
            color: @circleBlack;
            a {
                color: @circleDarkBlue;
            }
        }
        .address-button {
            display: inline-block;
            width: 12%;
            img {
                vertical-align: inherit;
            }
        }
    }

    .withdrawal-address-box {
        .secondary-font(16px, 400);
        display: inline-block;
        vertical-align: middle;
        background-color: @circleBlack;
        text-align: center;
        padding: 10px;
        button {
            margin: 0px;
        }
        .message {
            color: @circleWhite;
            em {
                font-style: normal;
                color: @btnOrange;
            }
        }
    }

    .buttons {
        display: inline-block;
    }
}

.number {
    em {
        display: block;
        font-style:normal;
        .primary-font(18px, 700);
        color: @circleDarkBlue;

        &.integer {
            color: @circleBlack;
            float:left;
            .primary-font(24px, 300);
        }
        &.fraction {
            &:before {
                content: ".";
            }

            color: @circleBlack;
            float:left;
            margin-left:2px;
            .primary-font(14px, 300);
        }
    }
}

.widget {
    background-color: @circleWhite;
    margin: 25px 0;
    padding: 16px 20px;
    border-bottom:4px solid @bottomBorderColor;

    &.filled {
        padding: 0;
    }

    .row {
        margin:0;
    }

    .btn {
        font-size:12px;
    }

    ul {
        list-style-type:none;
        margin:0;
        padding:2px
    }

    .balance {
        float:left;
        width:100%;
    }

    .balance-title {
        font-style:normal;
        line-height:20px;
        .primary-font(20px, 700);
        color:@logoBlue;
        margin-bottom:10px;
    }

    li:last-child .btn-navigation {
        border-bottom:none;
    }

    .btn-row, .btn-group {
        width: 100%;
        padding: 2px 0;

        position: relative;
        display: inline-block;
        vertical-align: middle;

        button {
            float: left;
            position: relative;

            padding-left: 2px;
            padding-right: 2px;

            &:last-child {
                margin-right: 0px;
            }
        }

        &.one {
            button { width: 100%; }
        }

        &.two {
            button {
                width: 48%;
                margin-right: 2%;
                font-size:16px;
            }
        }

        &.three {
            button { width: 31.3%; margin-right: 2%; }
        }

    }

    .box {
        background-color: @circleLightGrey;
        border-bottom: 3px solid black;
        margin: 10px 0;
        padding: 13px 10px;
    }

    &.campaign {
        padding: 0px;
        .top {
            padding: 16px 20px;
        }
        .btn {
            margin-top:10px;
        }
        img {
            margin-top: 10px;
        }
    }
}

#topbar {
    background-color: @circleOrange;
    padding: 5px 0;
    .secondary-font(12px, 400);
    border-bottom:4px solid @btnOrange;

    a {
        margin:0 20px;
        &:hover {
            color:@circleYellow;
        }
    }

    a:first-child {
        margin:0 20px 0 0;
    }

    .right {
        .form-styles;

        width: 100%;
        display: table;

        > div {
            display: table-cell;
            width: 100%;
            padding-right: 10px;

            &:last-child {
                padding-right: 0px;
            }

            > .form-control {
                border: 1px solid @modalMediumGrayBorder;
                #gradient .vertical(white, @modalMediumGrayBorder);
                font-size: 10px;
                height: 25px;

            }
        }

    }
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
}

#spin-buttons-bar {
    padding: 0;
    border-bottom: 2px solid rgba(0,0,0,0.2);

    .buttons {
        button {
            margin: 26px 3px 23px 0;
        }
    }

    h1 {
        margin: 15px 0 5px 0;
        .primary-font(42px, 700);
        text-transform: uppercase;
        color: @logoBlue;
    }

    h2 {
        margin: 0 0 20px 0;
        .primary-font(14px, 300);
        color: @circleDarkGrey;
    }
}

#wheel-section {

    .double-gradient(
        @color1a: @bgGradientLightStart;
        @color1b: @bgGradientLightEnd;
        @color2a: @bgGradientDarkStart;
        @color2b: @bgGradientDarkEnd;
        @split: 75%
    );

    .wheel {
        padding-top: 26px;
        padding-bottom: 44px;

        .wrapper {
            height: 100%;
        }

        .wheel-svg {

            margin: 0 auto;
            width:90%;

            svg {
                width: 100%;
                height: 100%;
                padding: 2px;
                position: relative;
                left: -0.5px;
            }

            #circle #wheel {

                // assuming viewBox="0 0 520 520" is set on <svg> element
                -webkit-transform-origin: 260px 260px;
                   -moz-transform-origin: 260px 260px;
                    -ms-transform-origin: 260px 260px;
                     -o-transform-origin: 260px 260px;
                        transform-origin: 260px 260px;

                .spinning(@duration: 5s);

                #wheel-3x, #wheel-5x, #wheel-10x {
                    display: none;
                }
            }

            #circle #button {
                cursor: pointer;

                // hover
                #background {
                    #hover { display: none; }
                    #normal { display: block; }
                }

                // text
                #text {
                    #deposit-now { display: none; }
                    #spin { display: block; }
                    #win-amount { display: none; }
                    #win { display: none; }
                }

            }

            // states of the circle:
            &.nospin {
                #circle #wheel {
                    .spinning(@duration: 0s);
                }
            }

            &.deposit-now {
                #circle #button #background {
                    #normal { display: none; }
                    #hover { display: block; }
                }

                #circle #button #text {
                    #deposit-now { display: block; }
                    #spin { display: none; }
                    #win-amount { display: none; }
                    #win { display: none; }
                }
            }

            &.spinning {
                #circle #button #background {
                    #normal { display: none; }
                    #hover { display: block; }
                }

                #circle #button #text {
                    #deposit-now { display: none; }
                    #spin { display: none; }
                    #win-amount { display: none; }
                    #win { display: block; }
                }
            }
            &.justwon {
                #circle #button #background {
                    #normal { display: none; }
                    #hover { display: block; }
                }

                #circle #button #text {
                    #deposit-now { display: none; }
                    #spin { display: none; }
                    #win-amount { display: block; }
                    #win { display: none; }
                }
            }

            &.circle-1 { #circle #wheel #wheel-3x { display: block; } }
            &.circle-2 { #circle #wheel #wheel-5x { display: block; } }
            &.circle-3 { #circle #wheel #wheel-10x { display: block; } }
        }


        .image {
            // assuming viewBox="0 0 520 520" is set on <svg> element
            -webkit-transform-origin: 260px 260px;
               -moz-transform-origin: 260px 260px;
                -ms-transform-origin: 260px 260px;
                 -o-transform-origin: 260px 260px;
                    transform-origin: 260px 260px;

            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);

            .spinning(@duration: 5s);

            &.nospin {
                .spinning(@duration: 0s);
            }
        }

        .clicker {
            opacity: 0;
        }

        // margin: 18px auto;
        // position: relative;
        // cursor:pointer;

        // max-width: @wheelWidth;
        // min-height: @wheelWidth;

        // img.circle, img.button, img.shadow {
        //  .img-responsive;

        //  max-width: 100%;
        //  position: absolute;

        // }

        // img.circle {
        //  .spinning(@duration: 5s);
        //  &.nospin {
        //      .spinning(@duration: 0s);
        //  }
        // }

        // img.button {
        //  &:active {
        //      opacity: 1;
        //      &.disabled {
        //          opacity: 1;
        //      }
        //  }
        // }

    }

    .thumbs {
        text-align: center;
        margin-bottom: 35px;

        img {
            cursor: pointer;
            .img-responsive;
            max-width: @wheelThumbWidth;
            margin-right: 10px;
            display: inline-block;

            &:last-child {
                margin-right: 0px;
            }

            opacity: 0.6;
            &.active {
                opacity: 1;
            }


            @media (min-width: @wheelThumbWidth * 3) {
                position: absolute;
                left: 50%;
                margin-left: -@wheelThumbWidth/2;
            }
        }
    }

}

// edit field
.unobtrusive {
    .secondary-font(@fontSize: 10px);
    background: @circleDarkGrey;
    border: none;
    margin:5px 0 0 0;
    padding: 7px;
    color: @circleWhite;
    width: 100%;
    text-align: left;
    float:left;

    .glyphicon {
        margin-right: 8px;
    }

    a {
        cursor: pointer;
        text-decoration: underline;
        color: darken(@circleWhite, 10%);
        &:hover {
            color: @circleWhite;
        }
    }
}

#withdrawal-address {
    padding: 10px 0;
    background-color: @withdrawalAddressGray;
    border:none;
    border-bottom: 10px solid #4D4C4D;

    color: @circleWhite;

    .primary-font(24px, 700);

    p {
        margin-bottom: 2px;
        font-size:10px;
        width:100%;
        float:left;
    }

    b {
        width:120px;
        float:left;
    }

    button.btn {
        margin: 10px 0;
    }

}

#auxiliary {
    .widget {
        border-bottom: none;
    }
}


.triangle-down:before,
.triangle-up:before {
    position:relative;
    left:50%;
    top:0;
    content: '';
    width:0;
    height:0;
    float:left;
    border-left: solid 26px transparent;
    border-right: solid 26px transparent;
    z-index:10;
}

.triangle-down:before {
    margin:-4px -26px;
    border-top: solid 48px white;
}


#bottom-manifest {
    background-color: @bgBottomManifest;
    padding: 30px 0;
    margin-top:50px;

    .triangle-up:before {
        margin:-78px -26px;
        border-bottom: solid 48px @bgBottomManifest;
    }

    .row {
        text-align: center;
    }

    .btn {
        font-size:36px;
        border-bottom:8px solid @btnDarkOrange;

        &:hover,
        &.active,
        &:focus {
            border-bottom:8px solid @btnDarkBlue;
        }
    }
    h3 {
        .primary-font(36px, 700);
        font-style: normal;
        display: block;
        color: @circleWhite;
        text-transform: uppercase;
    }
    h4 {
        .primary-font(24px, 400);
        margin-bottom: 20px;
        color: @circleWhite;
    }
}

#notifications {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 109px;
    background-color: @circleBlack;
    border-top: 4px solid @circleYellow;

    .primary-font;

    .manifest {
        color: @circleYellow;
        .primary-font(24px, 700);
        margin-top: 9px;
    }

    p {
        margin-top: 11px;
        color: @circleWhite;
        font-size: 14px;
    }

    a {
        color: @circleBlue;
        &:hover {
            color:@circleDarkBlue;
            text-decoration:underline;
        }
    }
    .close {
        color:white;
        opacity:1;
        font-size:36px;
        padding-right:5px;
        text-shadow:0 2px 0 rgba(0,0,0,0.2);
        &:hover{
            color:@circleYellow;
            text-shadow:0 2px 0 rgba(0,0,0,0.2);
        }
    }

}

footer {
    background-color: @circleBlack;
    padding: 15px 0;
    .secondary-font(12px, 400);

    a {
        cursor: pointer;
        margin:0 20px;
        &:hover {
            color:@circleYellow;
        }
    }

    a:first-child {
        margin:0 20px 0 0;
    }
}

.form-styles {
    .form-control, .btn {
        font-size: 24px;

    }

    .form-group {
        margin-right:15px;
        @media (min-width: @screen-tablet) {
            &.fill {
                width: 72%;
            }
        }
    }

    input {
        .border-radius(0px);
        border: 1px solid @circleModalInputBorder;
        .secondary-font;
    }

    .neat {
        .secondary-font;

        &.big {
            font-size: 18px;
        }

        &.small {
            font-size: 12px;
        }
    }

}

.modal-backdrop.in {
    opacity: 0.7;
}

.modal .modal-content {

    border-bottom:4px solid @bottomBorderColor;

    * {
        font-size: 20px;
        font-weight: bold;
        .primary-font;
    }

    .form-styles;

    a {
        color: @circleModalLinkColor;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    .border-radius(0px);

    .modal-header {
        background-color: @circleHeaderBlue;
        padding:10px 8px 6px 14px;
        border-bottom:4px solid @btnDarkBlue;
        .modal-title {
            color:white;
            .primary-font(24px, 700);
            text-shadow: 0 2px 0 rgba(0,0,0,0.2);

        }
    }

    input {
        padding:15px;
        height:42px;
    }

    .btn {
        padding:5px 15px;
    }

    .close {
        color:white;
        opacity:1;
        font-size:36px;
        padding-right:5px;
        text-shadow:0 2px 0 rgba(0,0,0,0.2);
        &:hover{
            color:@circleModalInputBorder;
            text-shadow:0 2px 0 rgba(0,0,0,0.2);
        }
    }

    .modal-body {
        background-color: @bgModal;
        padding:24px;
    }

    .modal-footer {
        padding: 0;
        margin:10px;
        margin-bottom:5px;
        border-top: none;
        font-size: 20px;
        text-align: center;
        color: @circleDarkGrey;

    }
}

#signupModal .modal-content,
#loginModal .modal-content {
    max-width: 450px;
}

button {
    &.wide {
        width: 100%;
    }
}

#tabs {
    padding-top: 45px;
}


.nav-tabs {
    > li {
        margin-right: 20px;

        > a {
            background-color: @circleLightGrey;
            color: @circleDarkGrey;
            .primary-font(18px, 700);
            text-decoration: none;

            border-top: 4px solid @tabTopBorderColor;
            border-bottom: 1px solid transparent;
            border-left: none;
            border-right: none;
            .border-radius(0px);

            &:hover, &:focus {
                color: @circleWhite;
                background-color: @circleDarkBlue;
                border-top: 4px solid darken(@circleDarkBlue, 20%);
            }
        }

        &.active {
            > a, a:focus, a:hover {
                color: @circleDarkBlue;

                border-top: 4px solid @circleDarkBlue;
                border-bottom: 1px solid @circleWhite;
                border-left: 1px solid @tabTopBorderColor;
                border-right: 1px solid @tabTopBorderColor;
            }
        }
    }

}

.tab-content {
    > .tab-pane {
        padding-top: 20px;
    }
}

#recent-spins, #provability {

    .form-styles;

    table {

        > thead {
            > tr {
                > th {
                    &.result {
                        float: none;
                        width: 24px;
                    }
                }
            }
        }

        > tbody {
            > tr {
                > td {
                    border: none;
                    height: 46px;
                    vertical-align: middle;

                    &.result {
                        span {
                            .secondary-font(@fontSize: 17px);
                            text-align: center;
                            line-height: 32px;
                            vertical-align: top;
                            padding: 11px;
                        }

                        // achievement levels
                        &.zero {
                            color: #CB7E00;
                        }
                        &.one {
                            color: #D4D3D4;
                        }
                        &.two {
                            color: #FDA510;
                        }
                        &.three {
                            color: @circleWhite;

                            span {
                                background-image: url(@starImage);
                                background-repeat: no-repeat;
                                width: 50px;
                                height: 50px;
                                display: block;
                            }
                        }
                    }

                    .btn {
                        font-size: 12px;
                    }
                }
                #gradient .vertical(#fff, #f5f5f5);

                &.polarity {
                    border-left: 5px solid transparent;
                    border-bottom: 8px solid @circleWhite;

                    &.good {
                        border-left-color: green;
                    }
                    &.bad {
                        border-left-color: red;
                    }
                }
            }
        }
    }

    .how-results {
        a {
            color: #333;
            cursor: pointer;
        }
        margin: 10px 0;
    }
}

#leaderboard {
    table {
        > thead > tr > th {
            &:nth-child(1) {
                float: none;
                width: 24px;
            }
        }

        > tbody > tr {
            > td {
                vertical-align: middle;
            }
            > td:nth-child(1) {
                span {
                    .primary-font(@fontSize: 24px);
                    text-align: center;
                    line-height: 32px;
                    vertical-align: top;
                    padding: 11px;
                    color: #989A9B;
                    width: 50px;
                    display: block;
                    padding: 0px;
                }
            }

            // 1st
            &:nth-child(1) {
                > td:nth-child(1) {
                    span {
                        background-image: url(@starImage);
                        background-repeat: no-repeat;
                        width: 50px;
                        height: 50px;
                        color: @circleWhite;
                        padding: 11px;
                    }
                }
            }

            // 2nd, 3rd
            &:nth-child(2), &:nth-child(3) {
                > td:nth-child(1) {
                    span {
                        color: #F6A623;
                    }
                }
            }

        }
    }
}

#wleaderboard {
    table {
        > thead > tr > th {
            &:nth-child(1) {
                float: none;
                width: 24px;
            }
        }

        > tbody > tr {
            > td {
                vertical-align: middle;
            }
            > td:nth-child(1) {
                span {
                    .primary-font(@fontSize: 24px);
                    text-align: center;
                    line-height: 32px;
                    vertical-align: top;
                    padding: 11px;
                    color: #989A9B;
                    width: 50px;
                    display: block;
                    padding: 0px;
                }
            }

            // 1st
            &:nth-child(1) {
                > td:nth-child(1) {
                    span {
                        background-image: url(@starImage);
                        background-repeat: no-repeat;
                        width: 50px;
                        height: 50px;
                        color: @circleWhite;
                        padding: 11px;
                    }
                }
            }

            // 2nd, 3rd
            &:nth-child(2), &:nth-child(3) {
                > td:nth-child(1) {
                    span {
                        color: #F6A623;
                    }
                }
            }

        }
    }
}

#circles {
    h3 {
        text-align: center;
    }
}

#provabilityModal {
    table * {
        .secondary-font(@fontSize: 12px);
    }
}

#currentCampaign {
    background-color: #000;
    width: 100%;

    h2 {
        margin-top: 29px;
        .primary-font(32px, 700);
        color: @circleDarkBlue;
    }

    p {
        color: @circleWhite;
        margin-top: 20px;
        font-size:16px;
        line-height:1.8em;
    }

    .donation {
        height: 57px;
        background-color: @circleWhite;
        border-bottom:4px solid @bottomBorderColor;
        margin-top: 30px;
        padding: 13px 20px 20px 20px;
        float: left;
        margin-bottom: 25px;

        strong {
            float: left;
            line-height: 34px;
            margin-right: 15px;
            color: @circleDarkBlue;
            .primary-font(18px,700);
        }
    }

    img {
        .img-responsive;
        max-height: 380px;
    }
}

.modal-well {
    border: 2px solid @modalMediumGrayBorder;
    .primary-font(24px, 700);
    color: @modalMediumGray;
    text-align: center;
    padding: 8px 8px 11px 8px;
    margin-bottom: 10px;
}

.modal-panel-white {
    background-color: @circleWhite;
    border-bottom:4px solid @btnBlue;
    padding: 18px;
    margin-top: 10px;

    font-family: Helvetica, sans-serif;
    font-size: 12px;

    h5 {
        .primary-font(24px, 700);
    }
}

#withdrawModal {
    .modal-content {
        .modal-well {

            h5 {
                text-align: left;
                .primary-font(24px, 700);
                margin: 0px;
                line-height: 34px;
            }

            .balance {
                float: right;
                font-style: normal;
                font-weight: 600;
                color: @circleDarkBlue;

                .number {
                    float: none;
                    margin-right: 10px;
                    em {
                        color: @circleDarkBlue;
                        font-weight: 600;
                    }
                }
            }

            .modal-panel-white {
                p {
                    font-family: "Helvetica Neue", sans-serif;
                    font-size: 12px;
                }

                h5 {
                    .primary-font(24px, 700);
                    margin-top: 0px;
                    margin-bottom: 20px;
                    color: @circleDarkBlue;
                }
            }
        }

        .withdrawal-address {
            padding: 10px 0;
            background-color: @circleDarkGrey;
            .secondary-font(16px, 300);
            color: @circleWhite;
            padding: 10px 20px;

            .unobtrusive {
                float: none;
                .secondary-font(16px, 300);
                font-family: "Helvetica Neue", sans-serif;
                padding: 0px;
                margin: 0px;
                word-break: break-word;
            }

            .edit {
                float: right;
                a {
                    cursor: pointer;
                    line-height: 44px;
                    color: @circleWhite;
                    text-decoration: underline;
                    .secondary-font(18px, 300);

                    .glyphicon {
                        margin-right: 10px;
                    }
                }
            }

            .address-editor {
                input, button {
                    height: 40px;
                    margin-top: 10px;
                }

                input {
                    font-size: 12px;
                }

                button {
                    font-size: 18px;
                }

                @media (min-width: @screen-tablet) {
                    input {
                        display: inline-block;
                        width: 60%;
                    }
                }
            }
        }

        .bottom {
            label, input, button {
                display: inline-block;
                font-size: 18px;
                margin-top: 20px;
            }

            button {
                height: 42px;
            }
            label {
                line-height: 42px;
            }
            input {
                font-size: 14px;
            }

            display: inline-block;
            @media (min-width: @screen-tablet) {
                display: block;
                margin-bottom: 10px;
                input, button {
                    width: 130px;
                }
            }
        }

    }
}

#termsModal {

    .minimum-btc {
        .modal-well;
    }

    em {
        font-size: 18px;
        font-style:normal;
    }

    ul {
        margin-top: 15px;
        li {
            margin-top: 12px;
            font-size:12px;
        }
    }

    .buttons {
        margin-top: 40px;
        p {
            text-align: center;
            font-size:12px;
        }
    }
}

.qrcode {
    background: none;
    border: none;
    margin: 0;
    padding: 0;

    img {
        width: 21px;
    }
}

#showDepositAddressModal .modal-dialog {
    .modal-body {
        word-break: break-word;
    }
}

.buttons-menu {
    button {
        line-height: 22px;
    }
}

.menu-icon {
    background-image: url(@menuIconsSprite);
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: top;
    margin-right: 7px;

    &.recent-spins {
        background-position-y: 2px;
    }
    &.leaderboard {
        background-position-y: -25px;
    }
    &.circles {
        background-position-y: -52px;
    }
    &.fair {
        background-position-y: -81px;
    }
}

.modal-body {
    .eua {
        * {
            font-size: 12px;
        }
        height: 150px;
        overflow-y: scroll;
        border: 1px solid #999;
        padding: 0 10px;

        ol {
            padding-left: 10px;
            counter-reset: item;
            li {
                display: block;
                &:before {
                    content: counters(item, ".") " ";
                    counter-increment: item;
                    margin-right: 5px;
                }
            }
        }
    }
}

#termsAndConditionsModal {
    .eua {
        height: 400px;
    }
}

.modal .calculation-method {
    p {
        font-size: 16px;
    }
    code span {
        font-size: 12px;
        display: block;
        &.shift1 {
            margin-left: 20px;
        }
    }
}

