@topbarBlue: @circleModalLinkColor;
@grid-gutter-width:         5px;

.mobile {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .container-fluid {
        .container-fixed();
        width: 100%;
    }

    #topbar {
        padding: 0;
        margin: 0;
        border: none;
        background-color: white;
        height: 40px;

        .box {
            background-color: @topbarBlue;
            height: 40px;
            width: 40px;
            border: none;
            font-size: 14px;
            color: white;
        }

        h1 {
            color: @topbarBlue;
            margin: 0px 10px;
            line-height: 40px;
            display: inline-block;
            .primary-font(24px, 600);
        }

        .wrapper-left {
            display: inline-block;
            float: left;

            > :first-child {
                float: left;
            }
        }

        .wrapper-right {
            display: inline-block;
            float: right;

            .buttons {
                float: left;
                margin-right: 10px;
                .btn {
                    font-size: 12px;
                    margin: 4px 0;
                    text-shadow: none;
                    font-size: 16px;
                    line-height: 16px;
                    padding: 5px 8px 5px 8px;
                }
            }

            > :last-child {
                float: right;
            }
        }

    }

    .triangle-down:before,
    .triangle-up:before {
        border-left: solid 13px transparent;
        border-right: solid 13px transparent;
    }

    .triangle-down:before {
        margin:-4px -13px;
        border-top: solid 24px white;
    }

    #wheel-section {
        .double-gradient(
            @color1a: @bgGradientLightStart;
            @color1b: @bgGradientLightEnd;
            @color2a: @bgGradientDarkStart;
            @color2b: @bgGradientDarkEnd;
            @split: 75%
        );
        width: 100%;
        height: 100%;

        .wheel {
            position: absolute;
            width: 100%;
            height: 100%;
            padding-top: 7px;

            .wrapper {
                margin: 0 25%;

            }

            .thumbs {
                margin-top: 10px;
            }

            .wheel-svg {
                width: 100%;
                height: 100%;

                &.touching {
                    #circle #button {
                        &:hover {
                            #background {
                                #normal { display: none; }
                                #hover { display: block; }
                            }
                        }
                    }
                }
            }
        }

        .small-widgets {
            visibility: hidden;
            position: absolute;
            bottom: 0;
            width: 100%;

            .row.top .widget {
                height: 50px;
            }
            .row.bottom .widget {
                height: 90px;
            }

            .widget {
                padding: 3px 6px;
                margin: 5px;

                .balance-title {
                    font-size: 11px;
                }
                .number, em.integer {
                    font-size: 13px;
                }
                .number, em.fraction {
                    font-size: 10px;
                }

                &.bet-buttons-middle {
                    margin: 0px;
                    background: none;
                    border: none;
                    padding: 5px 0;
                    margin-top: -20px;
                    button {
                        font-size: 12px;
                    }
                }
            }
        }

    }

    #withdrawModal .modal-content .modal-well {
        h5 {
            font-size: 16px;
            line-height: 18px;
        }

        .modal-panel-white {
            h5 {
                font-size: 16px;
                line-height: 18px;
            }
        }
    }

    .modal {
        * {
            font-size: 14px;
        }

        .modal-header {
            .modal-title {
                font-size: 16px;
            }
            button {
                font-size: 21px;
            }
        }

        .modal-content {
            .btn {
                font-size: 16px;
            }

            h5 {
                font-size: 16px;
                line-height: 18px;
            }

            .balance .number {
                font-size: 18px;
                .integer {
                    font-size: 18px;
                }
                .fraction {
                    font-size: 12px;
                }
            }
        }
    }


    .wrapper-intro {
        width:100%;
        float:left;
        background:@topbarBlue;
        border-bottom: 5px solid @btnDarkBlue;

        button.close {
            color:white;
            .text-shadow(0 2px 0 rgba(0,0,0,0.2));
            opacity:1;
            float:right;
            margin:0 2%;
            font-size:32px;
        }

        h1, h2 {
            color: white;
            padding:0;
            margin:0 2%;
            line-height: 40px;
            float:left;
            .primary-font(24px, 700);
            font-size: 16px;
        }
    }

    aside {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        background-color: rgba(0,0,0,0.6);
        opacity: 0;
        visibility: hidden;
        z-index: 20;

        .wrapper {
            background-color: @topbarBlue;
            display: block;
            height: 100%;
            width: 0%;
            position: absolute;
            right: 0;

            -webkit-transition: width 0.15s ease-in-out, opacity 0.2s linear;
            -moz-transition: width 0.15s ease-in-out, opacity 0.2s linear;
            -ms-transition: width 0.15s ease-in-out, opacity 0.2s linear;
            -o-transition: width 0.15s ease-in-out, opacity 0.2s linear;
            transition: width 0.15s ease-in-out, opacity 0.2s linear;

            .wrapper-intro {
                background:white;
                border-bottom:none;

                .close, h1, h2 {
                    color: @topbarBlue;
                }
            }

            h3 {
                .primary-font(20px, 400);
                padding:10px;
                float:left;
                color:white;
                margin:10px 10px 0 10px;
            }

            ul {
                list-style: none;
                float:left;
                width:100%;
                padding-left: 2%;
                padding-right: 2%;
                margin-bottom:20px;

                li {
                    margin-top: 2%;
                    a {
                        cursor: pointer;
                        text-decoration: none;
                        padding: 10px;
                        background-color: @btnDarkBlue;
                        width: 100%;
                        display: block;
                        .secondary-font(18px, 400);
                        .text-shadow(0 2px 0 rgba(0,0,0,0.2));
                        color:white;

                        &:hover {
                            background-color: white;
                            color:@btnDarkBlue;
                        }
                    }
                }
            }
        }

        -webkit-transition: opacity 0.15s linear, visibility 0.15s;
        -moz-transition: opacity 0.15s linear, visibility 0.15s;
        -ms-transition: opacity 0.15s linear, visibility 0.15s;
        -o-transition: opacity 0.15s linear, visibility 0.15s;
        transition: opacity 0.15s linear, visibility 0.15s;


        &.left {
            left: 0;
            .wrapper {
                left: 0;
            }
        }

        &.right {
            right: 0;
            .wrapper {
                right: 0;
            }
        }

        &.visible {
            visibility: visible;
            opacity: 1;
            .wrapper {
                width: 60%;
            }
        }

    }

    .overlay {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: @bgModal;
        z-index: 20;
        padding: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        visibility: hidden;

        -webkit-transition: height 0.15s ease-in-out, visibility 0.15s;
        -moz-transition: height 0.15s ease-in-out, visibility 0.15s;
        -ms-transition: height 0.15s ease-in-out, visibility 0.15s;
        -o-transition: height 0.15s ease-in-out, visibility 0.15s;
        transition: height 0.15s ease-in-out, visibility 0.15s;

        .wrapper-intro {
            margin-bottom:20px;
            position:fixed;
            z-index:9999;
        }
        &.visible {
            height: 100%;
            visibility: visible;
        }

        button.close {
            margin-right: 10px;
        }

        .start {
            padding: 80px 20px;
        }
        .tab-content > .tab-pane {
            padding-top:0;
        }

        .col-md-4 {
            margin-bottom:3em;
            padding:1em;
        }

        .circle {
            border:10px solid white;
        }

        h3 {
            .primary-font(3em, 700);
            margin-bottom:20px;

        }

        .img-responsive {
            margin:20px auto;
            width:96%;
        }

        #recent-spins, #provability, #leaderboard {
            table > tbody > tr > td {
                padding: 2px 4px;
                height: 10px;
                line-height: 13px;

                .btn {
                    padding: 4px 6px;
                }

                &.result span {
                    font-size: 12px;
                    padding: 2px 4px;
                }

                &.result.three span {
                    width: initial;
                    height: initial;
                    background-size: 30px 30px;
                    background-position: 5px 2px;
                }
            }
        }

        #leaderboard table > tbody > tr > td:nth-child(1) span {
            font-size: 12px;
            padding: 2px;
        }

        #leaderboard table > tbody > tr:nth-child(1) > td:nth-child(1) span {
                width: initial;
                height: initial;
                background-size: 30px 30px;
                background-position: 10px 2px;
        }

        #provability {
            .search-form {
                padding: 4px 8px;
            }
            table > tbody > tr > td {
                &.result.three span {
                    background-position: 3px 2px;
                }
            }
        }

        .table {
            th {
                font-size: 12px;
                padding: 8px 4px;
            }
            td {
                font-size: 12px;
            }
            .number em {
                font-weight: 400;
                font-size: 12px;
                &.integer {
                    font-size: 12px;
                }
                &.fraction {
                    font-size: 10px;
                }
            }

        }
    }

    @media (max-width: @screen-sm) {

        #topbar {
            h1 {
                font-size: 15px;
            }
            .wrapper-right .buttons .btn {
                padding: 3px 7px;
                margin: 6px 0;
            }
        }

        #wheel-section {
            .wheel {
                padding-bottom: 210px;

                -webkit-transition: height 0.15s ease-in-out, visibility 0.15s;
                -moz-transition: height 0.15s ease-in-out, visibility 0.15s;
                -ms-transition: height 0.15s ease-in-out, visibility 0.15s;
                -o-transition: height 0.15s ease-in-out, visibility 0.15s;
                transition: height 0.15s ease-in-out, visibility 0.15s;

            }
            .wheel .wrapper {
                margin: 0 5px;
            }

            .wheel .thumbs {
                display: none;
            }

            .thumbs {
                margin-bottom: 0px;
                img {
                    margin-right: 2px;
                    width: 31%;
                    max-width: 40px;
                }
            }

            .widgets {
                display: none;
            }
            .small-widgets {
                visibility: visible;
                height: auto;

                -webkit-transition: height 0.15s ease-in-out, visibility 0.15s;
                -moz-transition: height 0.15s ease-in-out, visibility 0.15s;
                -ms-transition: height 0.15s ease-in-out, visibility 0.15s;
                -o-transition: height 0.15s ease-in-out, visibility 0.15s;
                transition: height 0.15s ease-in-out, visibility 0.15s;
            }

            &.fullscreen {
                .wheel {
                    padding-bottom: 0;
                }
                .small-widgets {
                    visibility: visible;
                    height: 0px;
                }
            }
        }
    }

}