<!doctype html>
<html class="no-js" lang="en" ng-app="roulette-backend">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goodwill circle backend</title>

    <style type="text/css" media="screen">
      body .container.main {
        margin-top: 60px;
      }
    </style>

    <link rel="stylesheet" href="css/datetimepicker.css">

    <link rel="stylesheet/less" type="text/css" href="less/backend.less" />
    <script src="js/less.min.js" type="text/javascript"></script>
    <script type="text/javascript">
         // less.env = "development";
         // less.watch();
    </script>

    <script src="js/modernizr.js"></script>
  </head>
  <body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="MenuController">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Goodwill circle</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{active: location.path() === item.path}" ng-repeat="item in menu">
              <a href="#{{ item.path }}">{{ item.name }}</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </div>

    <div class="container-fluid stuck-bottom" ng-show="message" ng-controller="NotificationsController">
      <div class="alert alert-danger">{{ message }}</div>
    </div>

    <div class="container-fluid main">
      <div ui-view></div>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap/modal.js"></script>
    <script src="js/bootstrap/dropdown.js"></script>
    <script src="js/bootstrap/tooltip.js"></script>
    <script src="js/vendor/moment.min.js"></script>
    <script src="js/angular.js" type="text/javascript"></script>
    <script src="js/angular-route.js" type="text/javascript"></script>
    <script src="js/angular-resource.js" type="text/javascript"></script>
    <script src="js/vendor/angular-ui-router.min.js" type="text/javascript"></script>
    <script src="js/vendor/angular-datetimepicker.js" type="text/javascript"></script>
    <script src="js/vendor/ui-bootstrap-custom-tpls-0.10.0.js" type="text/javascript"></script>

    <script src="js/btc.js"></script>
    <script src="js/btcprocessor.js"></script>
    <script src="js/back.js"></script>

  </body>
</html>
