<!doctype html>
<html lang="en" ng-app="roulette">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= gameTitle %></title>

    <link href="<%= static %>/css/ui-lightness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">

    <% if (production) { %>
    <link href="<%= static %>/css/<%= gameId %>.css?v=<%= version %>" rel="stylesheet">
    <% } else { %>
    <link rel="stylesheet/less" type="text/css" href="<%= static %>/less/<%= gameId %>/circle.less" />

    <script src="<%= static %>/js/less.min.js" type="text/javascript"></script>
    <script type="text/javascript">
         // less.env = "development";
         // less.watch();
    </script>
    <% } %>

    <script src="<%= static %>/js/modernizr.js"></script>
  </head>
  <body>

    <div ng-view></div>

    <section id="notifications" ng-controller="NotificationsController" ng-show="message">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="close pull-right" ng-click="message=undefined">&times;</button>
            <div class="manifest">Important message</div>
            <p>{{ message }}</p>
          </div>
        </div>
      </div>
    </section>

    <% if (production) { %>
    <script src="<%= static %>/js/game.js?v=<%= version %>"></script>
    <%
      } else {
        jsFiles.forEach(function(file) {
    %>
    <script src="<%= static %>/js/<%= file %>" type="text/javascript"></script>
    <%
        });
      }
    %>

  </body>
</html>
