

// Core variables and mixins
@import "bootstrap/bootstrap.less";
// @import "bootstrap/theme.less";


@circleOrange:	#ED6408;
@circleDarkOrange: darken(spin(@circleOrange, -5%), 10%);

@navbar-default-bg: @circleDarkOrange;
@navbar-default-link-color:                #eee;
@navbar-default-link-hover-color:          #ddd;
@navbar-default-link-active-color:         #ccc;

.bignumber {
	font-size: 24px;

	&.primary {
		color: @brand-primary;
	}

	&.success {
		color: @brand-success;
	}

	&.danger {
		color: @brand-danger;
	}

}

table {
	img.icon {
		.img-responsive;
		height: 30px;
	}

	&.fixed {
		@media (min-width: @screen-tablet) {
			// table-layout: fixed;
			// word-wrap: break-word;
		}
		white-space: nowrap;
	}
}

.stuck-bottom {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #fafafa;
	padding-top: 20px;
	z-index: 10;
	border-top: 1px solid #ccc;
}

.label {
	a {
		color: #fff;
	}
}

.group-link {
	padding: 5px 8px 8px 8px;
	&:hover {
		text-decoration: none;
		background-color: #eee;
		border-radius: 3px;
	}
}

.main {
	margin: 40px 7px 0px 7px;
}