.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: @string;
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}


.double-gradient (@color1a: #d7520a, @color1b: #b72214, @color2a: #c34025, @color2b: #b81d1c, @split: 75%) {
	background: @color1a;
	background: -moz-linear-gradient(top, @color1a 0%, @color1b @split, @color2a @split, @color2b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@color1a), color-stop(@split,@color1b), color-stop(@split,@color2a), color-stop(100%,@color2b));
	background: -webkit-linear-gradient(top, @color1a 0%,@color1b @split,@color2a @split,@color2b 100%);
	background: -o-linear-gradient(top, @color1a 0%,@color1b @split,@color2a @split,@color2b 100%);
	background: -ms-linear-gradient(top, @color1a 0%,@color1b @split,@color2a @split,@color2b 100%);
	background: linear-gradient(to bottom, @color1a 0%,@color1b @split,@color2a @split,@color2b 100%);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@color1a),argb(@color1b))); // IE9 and down
}


.spinning(@duration: 3s) {
	transition: transform @duration cubic-bezier(.06,.5,.01,.96);
    -moz-transition: -moz-transform @duration cubic-bezier(.06,.5,.01,.96);
    -webkit-transition: -webkit-transform @duration cubic-bezier(.06,.5,.01,.96);
    -o-transition: -o-transform @duration cubic-bezier(.06,.5,.01,.96);
    -ms-transition: -ms-transform @duration cubic-bezier(.06,.5,.01,.96);
}
