<div class="row">
      <div class="large-3 columns">
            <label for="walletId">Front Wallet:</label>
            <input id="walletId" ng-model="walletId" type="text"/>

            <label for="amount">Amount in BTC:</label>
            <input id="amount" ng-model="amount" type="number" min="0"/>

            <button ng-click="deposit()" class="button small">Deposit</button>

      </div>
</div>
