<section id="modals">

  <div class="modal fade" id="fairnessModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">How does the spin work?</h4>
        </div>
        <div class="modal-body calculation-method">
          <p>This is how we calculate the Spin outcome:</p>
          <div class="well">
            <div class="highlight">
              <code class="js">
                <span>function spin(dailySeed, clientSeed, sessionId, spin, sectorsSetName) {</span>
                <span class="shift1">&nbsp;</span>
                <span class="shift1">// 1. Generate HMAC where:</span>
                <span class="shift1">//  message = "daily seed" + "client seed"</span>
                <span class="shift1">//  secret key = "user daily session id" + "spin number"</span>
                <span class="shift1">var sha = crypto.createHmac('sha512', seed);</span>
                <span class="shift1">sha.update(message);</span>
                <span class="shift1">var hmac = sha.digest('hex')</span>
                <span class="shift1">&nbsp;</span>
                <span class="shift1">// 2. Get the first byte (2 characters) of the HMAC which is a hex string.</span>
                <span class="shift1">// It is a random number in 0 - 255 range.</span>
                <span class="shift1">// Normalize sector size knowing number of sectors</span>
                <span class="shift1">var randomNumber = parseInt(hmac.substring(0, 2), 16);</span>
                <span class="shift1">var normalizedSectorSize = 256/sectors.length;</span>
                <span class="shift1">&nbsp;</span>
                <span class="shift1">// the floored sector number is now within range of sectors on this wheel.</span>
                <span class="shift1">var sector = Math.floor(randomNumber/normalizedSectorSize);</span>
                <span>}</span>
              </code>
            </div>

            <p>
             sector variable is used to select the outcome out of the following wheels tables:
             <br>[3, 0.33, 1, 1, 1, 2, 0.33, 2, 0.25, 2, 0.5, 0.25, 0.5, 0.25, 1, 0.25]
             <br>[5, 0, 0, 1, 0, 3, 0, 1, 0.5, 1.25, 0, 3, 0, 1, 0, 0]
             <br>[10, 0, 1.25, 0, 1.25, 0, 0, 1.25, 0, 0, 0.75, 0, 1.25, 0, 0, 0]
            </p>
          </div> <!-- /.well -->
        </div> <!-- /.modal-body -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" id="setWithdrawalAddressModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Enter personal Wallet address</h4>
        </div>
        <div class="modal-body">
          <p class="neat big">Enter wallet address where you wish to receive your win.</p>
          <form role="form" class="form-inline">
            <div class="form-group fill">
              <label for="addressField" class="sr-only">Withdrawal address</label>
              <input type="text" class="form-control neat small" id="addressField" placeholder="Please enter a valid withdrawal address" ng-model="withdrawalAddress">
            </div>
            <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="setWithdrawalAddress(withdrawalAddress)">Submit</button>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" id="setClientSeedModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Set client seed for next spins</h4>
        </div>
        <div class="modal-body">
          <form role="form" class="form-inline">
            <div class="form-group fill">
              <label for="client-seed-field" class="sr-only">Client seed</label>
              <input type="text" class="form-control neat small" id="client-seed-field" placeholder="Enter a valid seed" ng-model="newClientSeed">
            </div>

            <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="setClientSeed()">Set seed</button>
          </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" id="showDepositAddressModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Deposit address</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <p>In order to deposit send coins at this address from your personal wallet.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <b>{{ depositAddress }}</b>
            </div>
            <div class="col-md-3">
              <img ng-src="/qrcode?text={{ depositAddress }}"/>
            </div>
          </div>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" id="provabilityModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Fair?</h4>
        </div>
        <div class="modal-body">
        <table class="table">
          <tbody>
            <tr>
              <td>Server seed</td>
              <td>{{ provabilityServerSeed }}</td>
            </tr>
            <tr>
              <td>Client seed</td>
              <td>{{ provabilitySpin.client_seed }}</td>
            </tr>
            <tr>
              <td>Spin ID</td>
              <td>{{ provabilitySpin.spin_id }}</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <div class="modal fade" id="termsModal" tabindex="-1" role="dialog" show-on-startup="termsAccepted">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Terms & Conditions</h4>
        </div>
        <div class="modal-body">
          <div class="minimum-btc">
            .01 BTC Minimum Deposit Required
          </div>
          <em>By accessing <%= gameTitle %> or its service, you:</em>
          <ul>
            <li>Affirm you are not based in the United States of America or any other jurisdiction where the services of <%= gameTitle %> are prohibited</li>
            <li>Attest that you are 18 years old or older</li>
            <li>Acknowledge you have read and agree to the End User Agreement below</li>
          </ul>

          <div class="eua">
            <div ng-include="'/partials/eua.html'"></div>
          </div>

          <div class="row buttons">
            <div class="col-md-6">
              <p>I do not consent to the above terms</p>
              <button type="submit" class="btn btn-default wide" data-dismiss="modal" ng-click="rejectTerms()">Disagree</button>
            </div>
            <div class="col-md-6">
              <p>I consent to the above terms</p>
              <button type="submit" class="btn btn-default wide" data-dismiss="modal" ng-click="acceptTerms()">Agree</button>
            </div>
          </div>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <div class="modal fade" id="withdrawModal" tabindex="-1" ng-controller="WithdrawalController" aspect="withdraw">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="close()">&times;</button>
          <h4 class="modal-title">Withdraw</h4>
        </div>
        <div class="modal-body">

          <div class="modal-well">
            <div class="row">
              <div class="col-md-8">
                <h5>Confirmed Balance</h5>
              </div>
              <div class="col-md-4">
                <em class="balance">
                  <span class="number">
                    <em class="integer">{{ confirmedBalance | asBTCFull }}</em>
                    <em class="fraction">{{ confirmedBalance | asBTCDecimal }}</em>
                  </span>
                  BTC
                </em>
              </div>
            </div>
          </div>

          <div class="modal-well">
            <div class="row">
              <div class="col-md-8">
                <h5>Unconfirmed Balance</h5>
              </div>
              <div class="col-md-4">
                <em class="balance">
                  <span class="number">
                    <em class="integer">{{ unconfirmedBalance | asBTCFull }}</em>
                    <em class="fraction">{{ unconfirmedBalance | asBTCDecimal }}</em>
                  </span>
                  BTC
                </em>
              </div>
            </div>

            <div class="modal-panel-white">
              <h5>What are unconfirmed funds</h5>

              <p>Bitcoin transactions requires a variable amount of time to be 'confirmed' by the network; during this time frame
             we mark transferred Bitcoin as 'unconfirmed'. You are able to bet these Bitcoins, but you won't be able to withdraw until the transaction is confirmed, which usually take few minutes.</p>
            </div>

          </div>

          <div class="withdrawal-address">
            <div class="edit" ng-hide="editingAddress">
              <a ng-click="editAddress()"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
            </div>
            Your withdrawal address
            <div class="unobtrusive" ng-hide="editingAddress">
              {{withdrawalAddress}}
            </div>
            <div class="address-editor" ng-show="editingAddress">
              <input type="text" class="form-control" placeholder="Address" ng-model="newAddress"/>
              <button type="submit" class="btn btn-default right" ng-click="editingAddress=false;">Cancel</button>
              <button type="submit" class="btn btn-default right" ng-click="saveWithdrawalAddress()">Save</button>
            </div>
          </div>

          <div class="bottom">
            <label for="withdrawalAmount">Withdrawal amount</label>
            <div class="pull-right">
              <input type="text" class="form-control" id="withdrawalAmount" placeholder="Amount" ng-model="amount"/>
              <button type="submit" class="btn btn-default right" ng-click="withdraw()" ng-disabled="editingAddress">Withdraw</button>
            </div>
          </div>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" id="termsAndConditionsModal" tabindex="-1" aspect="terms">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="navigateHome()">&times;</button>
          <h4 class="modal-title">Terms & Conditions</h4>
        </div>
        <div class="modal-body">

          <div class="eua">
            <div ng-include="'/partials/eua.html'"></div>
          </div>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" ng-controller="UserController">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Log in</h4>
        </div>
        <div class="modal-body">

          <form role="form">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Username" ng-model="username">
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
            </div>

            <button type="submit" class="btn btn-default wide" data-dismiss="modal" ng-click="login()">Log in</button>
          </form>
        </div>
        <div class="modal-footer">
            <p>Not registered yet? <a href="#" data-toggle="modal" data-target="#signupModal" data-dismiss="modal">Sign up here</a></p>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" ng-controller="UserController">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Signup</h4>
        </div>
        <div class="modal-body">

          <form role="form">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Username" ng-model="username">
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
            </div>

            <div class="form-group">
              <label for="confirm-password">Confirm Password</label>
              <input type="password" class="form-control" id="confirm-password" placeholder="Password" ng-model="passwordConfirmation">
            </div>

            <button type="submit" class="btn btn-default wide" data-dismiss="modal" ng-click="signup()">Register</button>
          </form>

        </div>
        <div class="modal-footer">
          <p>Already a member? <a href="#" data-toggle="modal" data-target="#loginModal" data-dismiss="modal">Log in here</a></p>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</section>