<div class="mobile">

<section id="sounds">
  <audio id="spinSound">
    <source src="<%= static %>/img/sound/spin.mp3" type="audio/mpeg">
  </audio>
  <audio id="winSound">
    <source src="<%= static %>/img/sound/win.mp3" type="audio/mpeg">
  </audio>
</section>

  <section id="topbar" ng-controller="UserController">
    <div class="">
      <div class="row">
        <div class="col-md-12">

          <div class="wrapper-left">
            <button class="menu box" ng-click="toggleLeftMenu()">
              <i class="glyphicon glyphicon-th-list"></i>
            </button>

            <h1>GOODWILL CIRCLE</h1>
          </div>

          <div class="wrapper-right">

            <div class="buttons">
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#showDepositAddressModal" ng-if="depositAddress">
                <i class="glyphicon glyphicon-circle-arrow-up"></i>
              </button>
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#setWithdrawalAddressModal" ng-if="!depositAddress">
                <i class="glyphicon glyphicon-circle-arrow-up"></i>
              </button>
              <button type="button" class="btn btn-default" ng-show="withdrawalAddress" ng-click="navigateTo('withdraw')">
                <i class="glyphicon glyphicon-circle-arrow-down"></i>
              </button>
            </div>

            <button class="user box"  ng-click="toggleRightMenu()">
              <i class="glyphicon glyphicon-user"></i>
            </button>
          </div>

        </div>
      </div>
    </div>
  </section>

  <div ng-include="'/partials/modals.html'"></div>

  <section id="wheel-section"  ng-swipe-left="toggleFullScreen()" ng-swipe-right="toggleFullScreen()" ng-class="{fullscreen: fullScreen}">
    <div class="triangle-down"></div>

    <div class="wheel">
      <div class="wrapper">
        <!--
            Make sure the <svg> tag looks like this:
            <svg width="100%" height="100%" viewBox="0 0 520 520" preserveAspectRatio="xMidYMin meet">
         -->
        <div class="wheel-svg" wheel="/img/circle.svg" on-click="spin" ng-class="wheelClasses()" circle-rotation-style="circleStyle" won-amount="won"></div>
      </div>

      <div class="thumbs">
        <img ng-src="<%= static %>/img/circle{{ id }}.png" class="circle" ng-repeat="(id, name) in circles"
           ng-click="setCircle(id)" ng-class="{active: id == circleId }">
      </div>

    </div>

    <!-- wide screen -->
    <div class="widgets">

      <div class="container-fluid">
        <div class="row">
          <!-- left -->
          <div class="col-xs-4 col-sm-3 col-md-3">

            <% if (!gameDonationsDisabled) { %>
              <div class="widget campaign">
                <div class="top">
                  <em class="balance-title">Current donation</em>
                  <p>{{ campaign.name }}</p>
                  <button type="button" class="btn btn-default" scroll-to="currentCampaign">Learn more</button>
                </div>
                <img ng-src="{{ campaign.image_url }}" class="img-responsive">
              </div>

              <div class="widget">
                <div class="row">
                  <em class="balance-title">Total Donated</em>
                  <span class="balance number">
                    <em class="integer">{{ totalDonated | asBTCFull }}</em>
                    <em class="fraction">{{ totalDonated | asBTCDecimal }}</em>
                  </span>
                </div>
              </div>
            <% } else {%>
              <div class="widget campaign">
                <div class="top">
                  <em class="balance-title">Share the Orakle.co House Edge</em>
                  <p>Every Monday 1% of House Edge awarded to Leaderboard Winner  (Guarantee 1 BTC)</p>
                  <button type="button" class="btn btn-default" scroll-to="currentCampaign">Learn more</button>
                </div>
              </div>

              <div class="widget contacts">
                <div class="row">
                  <em class="balance-title">cs@orakle.co</em>
                </div>
              </div>
            <% }%>

            <div class="widget">
              <div class="row">
                <em class="balance-title">Total spins</em>
                <span class="balance number">
                  <em class="integer">{{ totalSpins }}</em>
                </span>
              </div>
              <div class="row">
                <em class="balance-title">Your spins</em>
                <span class="balance number">
                  <em class="integer">{{ userSpins }}</em>
                </span>
              </div>
            </div>

          </div>

          <div class="col-xs-offset-4 col-xs-4 col-sm-offset-6 col-sm-3 col-md-offset-6 col-md-3">

            <!-- rewards -->
            <div class="widget">
              <div class="row">
                <em class="balance-title">Reward points</em>
                <span class="balance number">
                  <em class="integer">{{ reward || 0 }}</em>
                </span>
              </div>
            </div>

            <div class="widget">

              <div class="row">
                <em class="balance-title">Balance</em>
                <span class="balance number">
                  <em class="integer">{{ balance | asBTCFull }}</em>
                  <em class="fraction">{{ balance | asBTCDecimal }}</em>
                </span>
              </div>

              <div class="row">
                <em class="balance-title">Wager</em>
                <span class="balance number">
                  <em class="integer">{{ parsedBet() | asBTCFull }}</em>
                  <em class="fraction">{{ parsedBet() | asBTCDecimal }}</em>
                </span>
              </div>

              <section id="btn-group" class="bet-buttons">
                <div class="btn-row two">
                  <button type="button" class="btn btn-default" ng-class="{active: bet === 'max'}" ng-click="setBet('max')">Max</button>
                  <button type="button" class="btn btn-default"  ng-class="{active: bet === 'min'}" ng-click="setBet('min')">Reset</button>
                </div>

                <div class="btn-row three">
                  <button type="button" class="btn btn-default" ng-click="setBet('10%')" ng-class="{active: bet === '10%'}">10%</button>
                  <button type="button" class="btn btn-default" ng-click="setBet('25%')" ng-class="{active: bet === '25%'}">25%</button>
                  <button type="button" class="btn btn-default" ng-click="setBet('50%')" ng-class="{active: bet === '50%'}">50%</button>
                </div>

                <div class="btn-row three">
                  <button type="button" class="btn btn-default" ng-click="setBet(0.001)" ng-class="{active: bet === 0.001}">B0.001</button>
                  <button type="button" class="btn btn-default" ng-click="setBet(0.01)" ng-class="{active: bet === 0.01}">B0.01</button>
                  <button type="button" class="btn btn-default" ng-click="setBet(0.1)" ng-class="{active: bet === 0.1}">B0.1</button>
                </div>
              </section>
            </div>

          </div>
        </div> <!-- /.row -->
      </div>
    </div>


    <!-- narrow screen -->
    <div class="small-widgets">

      <div class="container-fluid">

        <!-- top -->
        <div class="row top">
          <!-- left -->
          <div class="col-sm-4 col-xs-4">
            <% if (!gameDonationsDisabled) { %>
              <div class="widget">
                <div class="row">
                  <em class="balance-title">Total Donated</em>
                  <span class="balance number">
                    <em class="integer">{{ totalDonated | asBTCFull }}</em>
                    <em class="fraction">{{ totalDonated | asBTCDecimal }}</em>
                  </span>
                </div>
              </div>
            <% } else {%>
              <div class="widget contacts">
                <div class="row">
                  <em class="balance-title">cs@orakle.co</em>
                </div>
              </div>
            <% }%>
          </div>

          <!-- centre -->
          <div class="col-sm-4 col-xs-4">
            <div class="thumbs">
              <img ng-src="<%= static %>/img/circle{{ id }}.png" class="circle" ng-repeat="(id, name) in circles"
                 ng-click="setCircle(id)" ng-class="{active: id == circleId }">
            </div>
          </div>

          <!-- right -->
          <div class="col-sm-4 col-xs-4">
            <div class="widget">
              <div class="row">
                <em class="balance-title">Reward points</em>
                <span class="balance number">
                  <em class="integer">{{ reward || 0 }}</em>
                </span>
              </div>

            </div>
          </div>
        </div>

        <!-- bottom -->
        <div class="row bottom">
          <!-- left -->
          <div class="col-sm-4 col-xs-4">
            <div class="widget">
              <div class="row">
                <em class="balance-title">Total spins</em>
                <span class="balance number">
                  <em class="integer">{{ totalSpins }}</em>
                </span>
              </div>
              <div class="row">
                <em class="balance-title">Your spins</em>
                <span class="balance number">
                  <em class="integer">{{ userSpins }}</em>
                </span>
              </div>
            </div>
          </div>

          <!-- centre -->
          <div class="col-sm-4 col-xs-4">
            <div class="widget bet-buttons-middle">
              <div class="btn-row two">
                <button type="button" class="btn btn-default" ng-class="{active: bet === 'max'}" ng-click="setBet('max')">Max</button>
                <button type="button" class="btn btn-default"  ng-class="{active: bet === 'min'}" ng-click="setBet('min')">Reset</button>
              </div>

              <div class="btn-row three">
                <button type="button" class="btn btn-default" ng-click="setBet('10%')" ng-class="{active: bet === '10%'}">10%</button>
                <button type="button" class="btn btn-default" ng-click="setBet('25%')" ng-class="{active: bet === '25%'}">25%</button>
                <button type="button" class="btn btn-default" ng-click="setBet('50%')" ng-class="{active: bet === '50%'}">50%</button>
              </div>

              <div class="btn-row three">
                <button type="button" class="btn btn-default" ng-click="setBet(0.001)" ng-class="{active: bet === 0.001}">B0.001</button>
                <button type="button" class="btn btn-default" ng-click="setBet(0.01)" ng-class="{active: bet === 0.01}">B0.01</button>
                <button type="button" class="btn btn-default" ng-click="setBet(0.1)" ng-class="{active: bet === 0.1}">B0.1</button>
              </div>
            </div>
          </div>

          <!-- right -->
          <div class="col-sm-4 col-xs-4">
            <div class="widget">

              <div class="row">
                <em class="balance-title">Balance</em>
                <span class="balance number">
                  <em class="integer">{{ balance | asBTCFull }}</em>
                  <em class="fraction">{{ balance | asBTCDecimal }}</em>
                </span>
              </div>

              <div class="row">
                <em class="balance-title">Wager</em>
                <span class="balance number">
                  <em class="integer">{{ parsedBet() | asBTCFull }}</em>
                  <em class="fraction">{{ parsedBet() | asBTCDecimal }}</em>
                </span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>

  <aside class="right" ng-class="{visible: rightMenuVisible}">
    <div class="wrapper">
      <div class="wrapper-intro">
        <h1>GOODWILL CIRCLE</h1>
        <button class="close" ng-click="toggleRightMenu()">&times;</button>
      </div>
      <ul>
        <li><a data-toggle="modal" data-target="#loginModal" ng-show="!user.name" ng-click="toggleRightMenu()"><i class="glyphicon glyphicon-user"></i> Log in</a></li>
        <li><a data-toggle="modal" data-target="#signupModal" ng-show="user.wallet && !user.name" ng-click="toggleRightMenu()"><i class="glyphicon glyphicon-user"></i> Sign up</a></li>
      </ul>
    </div>
  </aside>

  <aside class="left" ng-class="{visible: leftMenuVisible}">
    <div class="wrapper">
      <div class="wrapper-intro">
        <h1>GOODWILL CIRCLE</h1>
        <button class="close" ng-click="toggleLeftMenu()">&times;</button>
      </div>
      <ul>
        <li><a href="" data-target="#recent-spins" data-toggle="tab" ng-click="toggleLeftMenu();toggleOverlay()"><span class="menu-icon recent-spins"></span>Recent spins</a></li>
        <li><a href="" data-target="#leaderboard" data-toggle="tab" ng-click="toggleLeftMenu();toggleOverlay()"><span class="menu-icon leaderboard"></span>Leaderboard</a></li>
        <li><a href="" data-target="#circles" data-toggle="tab" ng-click="toggleLeftMenu();toggleOverlay()"><span class="menu-icon circles"></span>Circles</a></li>
        <li><a href="" data-target="#provability" data-toggle="tab" ng-click="toggleLeftMenu();toggleOverlay()"><span class="menu-icon fair"></span>Fair?</a></li>
      </ul>
      <h3>About BitCoin</h3>
      <ul>
        <li><a href="http://bitcoin.it" >Bitcoin Main Page</a></li>
        <li><a href="http://en.wikipedia.org/wiki/Bitcoin" >What is Bitcoin?</a></li>
        <li><a href="https://en.bitcoin.it/wiki/Buying_Bitcoins_(the_noob_version)" >How to get BitCoins?</a></li>
      </ul>
    </div>
  </aside>

  <div class="overlay" ng-class="{visible: overlayVisible}">

    <!-- Tab panes -->
    <div class="tab-content">

      <!-- spins -->
      <div class="tab-pane active" id="recent-spins">
          <div class="wrapper-intro">
              <h2>Recent Spins</h2>
              <button class="close" ng-click="toggleOverlay()">&times;</button>
            </div>
        <div class="row start">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Player</th>
                  <th>Circle</th>
                  <th>Bet&nbsp;</th>
                  <th class="result">Result</th>
                  <th>Return</th>
                  <th>Time</th>
                  <th>Proof</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="result in recentSpins" class="polarity" ng-class="{good:result.outcome > 0, bad:result.outcome == 0}">
                  <td>{{ result.username || 'player ' + result.user_id }}</td>
                  <td>{{ circles[result.wheel_id] }}</td>
                  <td class="number">
                    <em class="integer">{{ result.bet | asBTCFull }}</em>
                    <em class="fraction">{{ result.bet | asBTCDecimal }}</em>
                  </td>
                  <td class="result" ng-class="resultLevel(result.outcome)">
                    <span>{{ result.outcome }}x</span>
                  </td>
                  <td class="number">
                    <em class="integer">{{ result.returned | asBTCFull }}</em>
                    <em class="fraction">{{ result.returned | asBTCDecimal }}</em>
                  </td>
                  <td>{{ result.timestamp | date:'medium' }}</td>
                  <td><button class="btn btn-default" data-toggle="modal" data-target="#provabilityModal" ng-click="proveSpin(result)">Show</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- leaderboard -->
      <div class="tab-pane" id="leaderboard">
            <div class="wrapper-intro">
              <h2>Leaderboard</h2>
              <button class="close" ng-click="toggleOverlay()">&times;</button>
            </div>
        <div class="row start">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Rank&nbsp;</th>
                  <th>Player</th>
                  <th>Win Streak</th>
                  <th>Lose Streak</th>
                  <th>Total Spins</th>
                  <th>Total Reward Points</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="player in leaders">
                  <td class="rank"><span>{{ $index+1 }}</span></td>
                  <td>{{ player.username || ('player ' + player.id) }}</td>
                  <td class="number">
                    <em class="integer">{{ player.winStreak | asBTCFull }}</em>
                    <em class="fraction">{{ player.winStreak | asBTCDecimal }}</em>
                  </td>
                  <td class="number">
                    <em class="integer">{{ player.loseStreak | asBTCFull }}</em>
                    <em class="fraction">{{ player.loseStreak | asBTCDecimal }}</em>
                  </td>
                  <td class="number">
                    <em class="integer">{{ player.spins }}</em>
                  </td>
                  <td class="number">
                    <em class="integer">{{ player.reward }}</em>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- circles -->
      <div class="tab-pane" id="circles">
        <div class="wrapper-intro">
          <h2>Circles</h2>
          <button class="close" ng-click="toggleOverlay()">&times;</button>
        </div>
        <div class="row start">

          <div class="col-md-{{ 12/(circles | length) }}" ng-repeat="(id, name) in circles">
            <div class="circle">
            <img ng-src="<%= static %>/img/circle{{ id }}.png" class="img-responsive"/>
            <h3>{{ name }}</h3>
            </div>
          </div>
        </div>
      </div>

      <!-- fairness provability -->
      <div class="tab-pane" id="provability">
        <div class="wrapper-intro">
          <h2>Fair?</h2>
          <button class="close" ng-click="toggleOverlay()">&times;</button>
        </div>
        <!-- search form -->
        <div class="row search-form start">
          <div class="col-md-12">
            <div class="how-results">
              <a data-toggle="modal" data-target="#fairnessModal">See how we calculate spin result</a>
            </div>
            <p>Search spins by date:</p>
            <form role="form" class="form-inline">

              <div class="form-group">
                <label for="user-id-or-name" class="sr-only">User ID</label>
                <input type="text" class="form-control neat small" id="user-id-or-name" placeholder="Enter user name" ng-model="provabilityUser">
              </div>

              <div class="form-group">
                <label for="provability-date" class="sr-only">Date</label>
                <input type="text" class="form-control neat small" id="provability-date" placeholder="Enter spin date" datepicker="provabilityDate">
              </div>
              <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="searchSpins()">Search spins</button>
            </form>

          </div>
        </div>

        <!-- results -->
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Circle</th>
                  <th>Bet&nbsp;</th>
                  <th class="result">Result</th>
                  <th>Return</th>
                  <th>Time</th>
                  <th>Proof</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="result in provabilitySpins" class="polarity" ng-class="{good:result.outcome > 0, bad:result.outcome == 0}">
                  <td>{{ circles[result.wheel_id] }}</td>
                  <td class="number">
                    <em class="integer">{{ result.bet | asBTCFull }}</em>
                    <em class="fraction">{{ result.bet | asBTCDecimal }}</em>
                  </td>
                  <td class="result" ng-class="resultLevel(result.outcome)">
                    <span>{{ result.outcome }}x</span>
                  </td>
                  <td class="number">
                    <em class="integer">{{ result.returned | asBTCFull }}</em>
                    <em class="fraction">{{ result.returned | asBTCDecimal }}</em>
                  </td>
                  <td>{{ result.timestamp | date:'medium' }}</td>
                  <td><button class="btn btn-default" data-toggle="modal" data-target="#provabilityModal" ng-click="proveSpin(result)">Show</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>