
<section id="topbar" ng-controller="UserController">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <a href="http://bitcoin.it">Bitcoin Main Page</a>
        <a href="http://en.wikipedia.org/wiki/Bitcoin">What is Bitcoin?</a>
        <a href="https://en.bitcoin.it/wiki/Buying_Bitcoins_(the_noob_version)">How to get Bitcoins?</a>
      </div>
      <div class="col-md-5">
        <div class="pull-right right">
          <div>
            <input type="text" class="form-control input-sm" ng-model="secretUrl" onclick="select();" ng-show="secretUrl">
          </div>
          <div>
            <img src="<%= static %>/img/bitcoinLogo.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="sounds">
  <audio id="spinSound">
    <source src="<%= static %>/img/sound/spin.mp3" type="audio/mpeg">
  </audio>
  <audio id="winSound">
    <source src="<%= static %>/img/sound/win.mp3" type="audio/mpeg">
  </audio>
</section>

<div ng-include="'/partials/modals.html'"></div>

<section id="spin-buttons-bar" ng-controller="UserController">


<div class="container" id="header">
  <div class="row">
    <div class="col-md-5">
      <h1><%= gameTitle %></h1>
      <h2><%= gameTagline %></h2>
    </div>
    <div class="col-md-7">
      <div class="pull-right">

        <div class="active-user-box" ng-show="depositAddress && withdrawalAddress">
          <div class="logged-in-box" ng-show="user.name">
            Welcome back, {{ user.name }}, <a ng-click="logout()">Sign out</a>
          </div>
          <div class="deposit-address">
            <div class="address-box">
              Your deposit address
              <a data-toggle="modal" data-target="#showDepositAddressModal">{{ depositAddress }}</a>
            </div>
            <a data-toggle="modal" data-target="#showDepositAddressModal" class="address-button">
              <img src="<%= static %>/img/pig.png"/>
            </a>
          </div>
        </div>

        <div class="withdrawal-address-box" ng-hide="depositAddress && withdrawalAddress">
          <button type="button" class="btn btn-default wide" data-toggle="modal" data-target="#setWithdrawalAddressModal">Enter your withdrawal address</button>
          <div class="message">and <em>start winning!</em></div>
        </div>

        <div class="buttons">
          <button type="button" class="btn btn-default btn-lg" ng-show="withdrawalAddress && balance" ng-click="navigateTo('withdraw')">Withdraw</button>
          <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#loginModal" ng-show="!user.name" ng-click="username=null; password=null; passwordConfirmation=null;">Log in</button>
          <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#signupModal" ng-show="user.wallet && !user.name" ng-click="username=null; password=null; passwordConfirmation=null;">Sign up</button>
        </div>
      </div>
    </div>
  </div>
</div>

</section>

<section id="wheel-section">
    <div class="triangle-down"></div>
<div class="container">
  <div class="row">

    <!-- Left widgets column -->
    <div class="col-md-3">

<% if (!gameDonationsDisabled) { %>
      <div class="widget campaign">
        <div class="top">
          <em class="balance-title">Current donation</em>
          <p>{{ campaign.name }}</p>
          <button type="button" class="btn btn-default" scroll-to="currentCampaign">Learn more</button>
        </div>
        <img ng-src="{{ campaign.image_url }}" class="img-responsive">
      </div>

      <div class="widget">
        <div class="row">
          <em class="balance-title">Total Donated</em>
          <span class="balance number">
            <em class="integer">{{ totalDonated | asBTCFull }}</em>
            <em class="fraction">{{ totalDonated | asBTCDecimal }}</em>
          </span>
        </div>
      </div>
<% } else {%>
<div class="widget campaign">
        <div class="top">
          <em class="balance-title">Share the Orakle.co House Edge</em>
          <p>Every Monday 1% of House Edge awarded to the Weekly Leaderboard Winner!</p>
          <button type="button" class="btn btn-default" scroll-to="currentCampaign">Learn more</button>
        </div>
      </div>

      <div class="widget">
        <div class="row">
          <em class="balance-title">cs@orakle.co</em>

        </div>
      </div>

<% }%>

      <div class="widget">
        <div class="row">
          <em class="balance-title">Total spins</em>
          <span class="balance number">
            <em class="integer">{{ totalSpins }}</em>
          </span>
        </div>
        <div class="row">
          <em class="balance-title">Your spins</em>
          <span class="balance number">
            <em class="integer">{{ userSpins }}</em>
          </span>
        </div>
      </div>

    </div>

    <!-- Central wheel column -->
    <div class="col-md-6">
      <div class="wheel">
        <div class="wrapper">
          <!--
              Make sure the <svg> tag looks like this:
              <svg width="100%" height="100%" viewBox="0 0 520 520" preserveAspectRatio="xMidYMin meet">
           -->
          <div class="wheel-svg" wheel="/img/circle.svg" on-click="spin" ng-class="wheelClasses()" circle-rotation-style="circleStyle" won-amount="won"></div>
        </div>
      </div>

      <div class="thumbs">
        <img ng-src="<%= static %>/img/circle{{ id }}.png" class="circle" ng-repeat="(id, name) in circles"
             ng-click="setCircle(id)" ng-class="{active: id == circleId }">
      </div>

    </div>

    <!-- Right widgets column -->
    <div class="col-md-3">

      <div class="widget">

        <div class="row">
          <em class="balance-title">Balance</em>
          <span class="balance number">
            <em class="integer">{{ balance | asBTCFull }}</em>
            <em class="fraction">{{ balance | asBTCDecimal }}</em>
          </span>
        </div>

        <div class="row">
          <em class="balance-title">Wager</em>
          <span class="balance number">
            <em class="integer">{{ parsedBet() | asBTCFull }}</em>
            <em class="fraction">{{ parsedBet() | asBTCDecimal }}</em>
          </span>
        </div>

        <section id="btn-group">
          <div class="btn-row two">
            <button type="button" class="btn btn-default" ng-class="{active: bet === 'max'}" ng-click="setBet('max')">Max</button>
            <button type="button" class="btn btn-default"  ng-class="{active: bet === 'min'}" ng-click="setBet('min')">Reset</button>
          </div>

          <div class="btn-row three">
            <button type="button" class="btn btn-default" ng-click="setBet('10%')" ng-class="{active: bet === '10%'}">10%</button>
            <button type="button" class="btn btn-default" ng-click="setBet('25%')" ng-class="{active: bet === '25%'}">25%</button>
            <button type="button" class="btn btn-default" ng-click="setBet('50%')" ng-class="{active: bet === '50%'}">50%</button>
          </div>

          <div class="btn-row three">
            <button type="button" class="btn btn-default" ng-click="setBet(0.001)" ng-class="{active: bet === 0.001}">B0.001</button>
            <button type="button" class="btn btn-default" ng-click="setBet(0.01)" ng-class="{active: bet === 0.01}">B0.01</button>
            <button type="button" class="btn btn-default" ng-click="setBet(0.1)" ng-class="{active: bet === 0.1}">B0.1</button>
          </div>
        </section>
      </div>

      <div class="widget">

        <div class="row">
          <em class="balance-title">Reward points</em>
          <span class="balance number">
            <em class="integer">{{ reward || 0 }}</em>
          </span>
        </div>

      </div>

      <div class="widget filled buttons-menu">
        <ul>
          <li><button type="button" class="btn btn-navigation" scroll-to="recent-spins"><span class="menu-icon recent-spins"></span>Recent Spins</button></li>
          <li><button type="button" class="btn btn-navigation" scroll-to="wleaderboard"><span class="menu-icon leaderboard"></span>Weekly Leaderboard</button></li>
          <li><button type="button" class="btn btn-navigation" scroll-to="leaderboard"><span class="menu-icon leaderboard"></span>All Time Leaderboard</button></li>
          <li><button type="button" class="btn btn-navigation" scroll-to="circles"><span class="menu-icon circles"></span>Circles</button></li>
          <li><button type="button" class="btn btn-navigation" scroll-to="provability"><span class="menu-icon fair"></span>Fair?</button></li>
        </ul>
      </div>

    </div>

  </div>
</div>
</section>

<section id="withdrawal-address">
<div class="container">
  <div class="row">

    <div class="col-md-6">
      <button type="button" class="btn btn-default wide" ng-hide="depositAddress && withdrawalAddress" data-toggle="modal" data-target="#setWithdrawalAddressModal">Enter here your withdrawal address</button>

      <div ng-show="depositAddress && withdrawalAddress">
        <p><b>Deposit address</b> {{ depositAddress }}</p>
        <p><b>Withdrawal address</b> {{ withdrawalAddress }}</p>
        <div class="unobtrusive"><span class="glyphicon glyphicon-pencil"></span><a data-toggle="modal" data-target="#setWithdrawalAddressModal">Edit withdrawal address</a></div>
      </div>
    </div>

    <div class="col-md-6">
      <p><b>Daily seed hash</b> {{ dailySeedHash }}</p>
      <p><b>Client seed</b> {{ clientSeed }}</p>
      <div class="unobtrusive"><span class="glyphicon glyphicon-pencil"></span><a data-toggle="modal" data-target="#setClientSeedModal">Set new client seed</a></div>
    </div>

  </div>
</div>
</section>

<% if (!gameDonationsDisabled) { %>
<div id="currentCampaign">
<div class="container">
  <div class="row">

    <div class="col-md-7">
      <h2>{{ campaign.name }}</h2>
      <p>{{ campaign.long_description }}</p>
      <div class="donation">
        <strong>Total donated</strong>
        <span class="number">
          <em class="integer">{{ campaign.donated | asBTCFull }}</em>
          <em class="fraction">{{ campaign.donated | asBTCDecimal }}</em>
        </span>
      </div>
    </div>

    <div class="col-md-5">
      <img ng-src="{{ campaign.image_url }}" class="img-responsive">
    </div>

  </div>
</div>
</div>
<% } else {%>

<div id="currentCampaign">
<div class="container">
  <div class="row">

    <div class="col-md-7">
      <h2>Spin to WIN!</h2>
      <div class="widget">
         <strong>How does it work?</strong>

        <span>
          Every Monday at 12.00 CET the leaderboard leader will be awarded 1% of the House Edge, with a minimum guaranteed of 1 BTC!

          Reward Points are assigned as follows:
          <em>Wheel 3X: 5 POINTS per spin</em>
          <em>Wheel 5X: 7 POINTS per spin</em>
          <em>Wheel 10X: 10 POINTS per spin</em>
        </span>
      </div>
    </div>

    <div class="col-md-5">
    </div>

  </div>
</div>
</div>


<% }%>
<!-- <section id="auxiliary">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="widget">
        <em>Your awards</em>
        <div class="box">
          <p>Lorem ipsum.</p>
        </div>
      </div>

      <div class="widget">
        <em>Monthly draw</em>
        <div class="box">
          <p>Lorem ipsum.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="widget">
        <em>Chat</em>
        <div class="box">
          <p>Lorem ipsum.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section> -->

<section id="tabs">
  <div class="container">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="" data-target="#recent-spins" data-toggle="tab">Recent spins</a></li>
      <li><a href="" data-target="#leaderboard" data-toggle="tab">All Time Leaderboard</a></li>
      <li><a href="" data-target="#wleaderboard" data-toggle="tab">Weekly Leaderboard</a></li>
      <li><a href="" data-target="#circles" data-toggle="tab">Circles</a></li>
      <li><a href="" data-target="#provability" data-toggle="tab">Fair?</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

      <!-- spins -->
      <div class="tab-pane active" id="recent-spins">
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Player</th>
                  <th>Circle</th>
                  <th>Bet&nbsp;</th>
                  <th class="result">Result</th>
                  <th>Return</th>
                  <th>Time</th>
                  <th>Proof</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="result in recentSpins" class="polarity" ng-class="{good:result.outcome > 0, bad:result.outcome == 0}">
                  <td>{{ result.username || 'player ' + result.user_id }}</td>
                  <td>{{ circles[result.wheel_id] }}</td>
                  <td class="number">
                    <em class="integer">{{ result.bet | asBTCFull }}</em>
                    <em class="fraction">{{ result.bet | asBTCDecimal }}</em>
                  </td>
                  <td class="result" ng-class="resultLevel(result.outcome)">
                    <span>{{ result.outcome }}x</span>
                  </td>
                  <td class="number">
                    <em class="integer">{{ result.returned | asBTCFull }}</em>
                    <em class="fraction">{{ result.returned | asBTCDecimal }}</em>
                  </td>
                  <td>{{ result.timestamp | date:'medium' }}</td>
                  <td><button class="btn btn-default" data-toggle="modal" data-target="#provabilityModal" ng-click="proveSpin(result)">Show</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- weekly leaderboard -->
      <div class="tab-pane" id="wleaderboard">
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Rank&nbsp;</th>
                  <th>Player</th>
                  <th>Win Streak</th>
                  <th>Lose Streak</th>
                  <th>Total Spins</th>
                  <th>Total Reward Points</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="player in wleaders">
                  <td class="rank"><span>{{ $index+1 }}</span></td>
                  <td>{{ player.username || ('player ' + player.id) }}</td>
                  <td class="number">
                    <em class="integer">{{ player.winStreak | asBTCFull }}</em>
                    <em class="fraction">{{ player.winStreak | asBTCDecimal }}</em>
                  </td>
                  <td class="number">
                    <em class="integer">{{ player.loseStreak | asBTCFull }}</em>
                    <em class="fraction">{{ player.loseStreak | asBTCDecimal }}</em>
                  </td>
                  <td class="number">
                    <em class="integer">{{ player.spins }}</em>
                  </td>
                  <td class="number">
                    <em class="integer">{{ player.reward }}</em>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- leaderboard -->
      <div class="tab-pane" id="leaderboard">
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Rank&nbsp;</th>
                  <th>Player</th>
                  <th>Win Streak</th>
                  <th>Lose Streak</th>
                  <th>Total Spins</th>
                  <th>Total Reward Points</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="player in leaders">
                  <td class="rank"><span>{{ $index+1 }}</span></td>
                  <td>{{ player.username || ('player ' + player.id) }}</td>
                  <td class="number">
                    <em class="integer">{{ player.winStreak | asBTCFull }}</em>
                    <em class="fraction">{{ player.winStreak | asBTCDecimal }}</em>
                  </td>
                  <td class="number">
                    <em class="integer">{{ player.loseStreak | asBTCFull }}</em>
                    <em class="fraction">{{ player.loseStreak | asBTCDecimal }}</em>
                  </td>
                  <td class="number">
                    <em class="integer">{{ player.spins }}</em>
                  </td>
                  <td class="number">
                    <em class="integer">{{ player.reward }}</em>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- circles -->
      <div class="tab-pane" id="circles">
        <div class="row">
          <div class="col-md-{{ 12/(circles | length) }}" ng-repeat="(id, name) in circles">
            <img ng-src="<%= static %>/img/circle{{ id }}.png" class="img-responsive"/>
            <h3>{{ name }}</h3>
          </div>
        </div>
      </div>

      <!-- fairness provability -->
      <div class="tab-pane" id="provability">

        <!-- search form -->
        <div class="row">
          <div class="col-md-12">
            <div class="how-results">
              <a data-toggle="modal" data-target="#fairnessModal">See how we calculate spin result</a>
            </div>
            <p>Search spins by date:</p>
            <form role="form" class="form-inline">

              <div class="form-group">
                <label for="user-id-or-name" class="sr-only">User ID</label>
                <input type="text" class="form-control neat small" id="user-id-or-name" placeholder="Enter user name" ng-model="provabilityUser">
              </div>

              <div class="form-group">
                <label for="provability-date" class="sr-only">Date</label>
                <input type="text" class="form-control neat small" id="provability-date" placeholder="Enter spin date" datepicker="provabilityDate">
              </div>
              <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="searchSpins()">Search spins</button>
            </form>

          </div>
        </div>

        <!-- results -->
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Circle</th>
                  <th>Bet&nbsp;</th>
                  <th class="result">Result</th>
                  <th>Return</th>
                  <th>Time</th>
                  <th>Proof</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="result in provabilitySpins" class="polarity" ng-class="{good:result.outcome > 0, bad:result.outcome == 0}">
                  <td>{{ circles[result.wheel_id] }}</td>
                  <td class="number">
                    <em class="integer">{{ result.bet | asBTCFull }}</em>
                    <em class="fraction">{{ result.bet | asBTCDecimal }}</em>
                  </td>
                  <td class="result" ng-class="resultLevel(result.outcome)">
                    <span>{{ result.outcome }}x</span>
                  </td>
                  <td class="number">
                    <em class="integer">{{ result.returned | asBTCFull }}</em>
                    <em class="fraction">{{ result.returned | asBTCDecimal }}</em>
                  </td>
                  <td>{{ result.timestamp | date:'medium' }}</td>
                  <td><button class="btn btn-default" data-toggle="modal" data-target="#provabilityModal" ng-click="proveSpin(result)">Show</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<section id="bottom-manifest">
  <div class="triangle-up"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>PLAY WITH <%= gameTitle %></h3>
        <h4 class="small"><%= gameTagline %></h4>
        <button type="button" class="btn btn-default btn-lg" scroll-to="spin-buttons-bar">SPIN</button>
      </div>
    </div>
  </div>
</section>


<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
          <a ng-click="navigateTo('terms')">Terms & Conditions</a>
      </div>
    </div>
</footer>
