<div class="row">
  <div class="col-md-12">

	<div class="row">
		<div class="col-md-6">
		    <h1>
		    	Bonus&nbsp;
		    	<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#editBonusModal" ng-click="editedBonus={}">
		    		<span class="glyphicon glyphicon-plus"></span> Add
		    	</button>
		    </h1>
		</div>
		<div class="col-md-6">
		    <h3 class="pull-right">
		    	Bonus budget {{pendingDonations | asBTC }}</span>
		    </h3>
		    <h3 class="pull-right">
		    	Bonus budget spent {{pendingDonations | asBTC }}</span>
		    </h3>
		</div>
	</div>




    <table class="table">
    	<thead>
    		<tr>
				<th>ID</th>
				<th>Type</th>
				<th>RandomID</th>
				<th>Amount</th>
				<th>Granted</th>
				<th>Total</th>
				<th>Current/ Edit/ Donate</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr ng-repeat="charity in charities">
    			<td>{{ bonus.id }}</td>
				<td>{{ bonus.type }}</td>
				<td>{{ bonus.randomid }}</td>
				<td>{{ bonus.amount }}</td>
				<td>{{ bonus.granted }}</td>
				<td>{{ bonus.total }}</td>
				
				<td>
					<div class="btn-group">
						<!-- donate -->
						<button type="button" class="btn btn-default btn-sm" ng-if="charity.current" disabled="disabled">
							<span class="glyphicon glyphicon-check"></span>
						</button>
				    	<button type="button" class="btn btn-default btn-sm" ng-click="setCurrent(charity)" ng-if="!charity.current">
				    		<span class="glyphicon glyphicon-unchecked"></span>
				    	</button>
				    	<!-- edit -->
				    	<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#editCharityModal" ng-click="edit(charity)">
				    		<span class="glyphicon glyphicon-edit"></span>
				    	</button>
				    	<!-- donate -->
				    	<button type="button" class="btn btn-default btn-sm" ng-click="donate(charity)">
				    		<span class="glyphicon glyphicon-cloud-upload"></span>
				    	</button>
					</div>
				</td>
    		</tr>
    	</tbody>
    </table>
  </div>
</div>

  <div class="modal fade" id="editBonusModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{ editedBonus.id ? 'Edit' : 'Add' }} charity</h4>
        </div>
        <div class="modal-body">

			<form role="form">
				<div class="form-group">
					<label for="charity-name">RandomID</label>
					<input type="text" class="form-control" id="randomid" placeholder="RandomID" ng-model="editedBonus.randomid">
				</div>
				<div class="form-group">
					<label for="charity-description">Amount</label>
					<textarea class="form-control" rows="2" id="Amount" ng-model="editedBonus.amount"></textarea>
				</div>
				<div class="form-group">
					<label for="charity-long-description">Total</label>
					<textarea class="form-control" rows="4" id="Total" ng-model="editedBonus.total"></textarea>
				</div>
				

				<button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="save()">Save</button>
			</form>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
