<div class="row">
  <div class="col-md-12">
    <h1>Bitcoin Network Transactions</h1>

    <div class="row">
      <div class="col-md-10">
        <form class="form-horizontal" role="form">

          <div class="row">
            <div class="col-md-6">
              <!-- Hash -->
              <div class="form-group">
                <label for="hash" class="col-sm-3 control-label">Hash</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="hash" placeholder="Hash" ng-model="params.hash">
                </div>
              </div>


              <!-- From timestamp -->
              <div class="form-group">
                <label for="fromTimestamp" class="col-sm-3 control-label">From</label>
                <div class="col-sm-9">
                  <a class="dropdown-toggle" id="fromTimestampDropdown" role="button" data-toggle="dropdown" data-target="#">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="params.fromTimestamp">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker ng-model="params.fromTimestamp" datetimepicker-config="{ dropdownSelector: '#fromTimestampDropdown' }"/>
                  </ul>
                </div>
              </div>

              <!-- From timestamp -->
              <div class="form-group">
                <label for="toTimestamp" class="col-sm-3 control-label">To</label>
                <div class="col-sm-9">
                  <a class="dropdown-toggle" id="toTimestampDropdown" role="button" data-toggle="dropdown" data-target="#">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="params.toTimestamp">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker ng-model="params.toTimestamp" datetimepicker-config="{ dropdownSelector: '#toTimestampDropdown' }"/>
                  </ul>
                </div>
              </div>

               <!-- Notification State -->
              <div class="form-group">
                <label for="address" class="col-sm-3 control-label">Address</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="address" ng-model="params.address" placeHolder="Address">
                    
                </div>
              </div>

            </div>

            <div class="col-md-6">

              <!-- Ledger -->
              <div class="form-group">
                <label for="ledger" class="col-sm-3 control-label">Ledger</label>
                <div class="col-sm-9">
                  <select class="form-control" id="ledger" ng-model="params.ledger" ng-options="l for l in ledgers">
                    <option value="">-- any --</option>
                  </select>
                </div>
              </div>

              <!-- Status -->
              <div class="form-group">
                <label for="state" class="col-sm-3 control-label">State</label>
                <div class="col-sm-9">
                  <select class="form-control" id="status" ng-model="params.state" ng-options="s for s in states">
                    <option value="">-- any --</option>
                  </select>
                </div>
              </div>

              <!-- Notification State -->
              <div class="form-group">
                <label for="notificationState" class="col-sm-3 control-label">Notification State</label>
                <div class="col-sm-9">
                  <select class="form-control" id="notificationState" ng-model="params.notificationState" ng-options="s for s in notificationStates">
                    <option value="">-- any --</option>
                  </select>
                </div>
              </div>

              
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" class="btn btn-primary" ng-click="search()">Search</button>
                </div>
              </div>

            </div>
          </div>


        </form>
      </div>
      <div class="col-md-2">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default" ng-click="offset = offset == 0 ? 0 : offset-limit" ng-class="{disabled:offset == 0}">&larr;</button>
          <button type="button" class="btn btn-default" ng-click="offset = transactions.length < limit ? offset : offset+limit" ng-class="{disabled:transactions.length < limit}">&rarr;</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <table class="table">
          <thead>
            <tr>
            <th>Hash</th>
            <th>Time</th>
            <th>State</th>
            <th>From/To</th>
            <th>Value</th>
            <th>Ledger</th>
            <th>Notification state</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="transaction in transactions">
               <td>
                <a ng-click="search({hash: transaction.hash})" href=""><small>
                  {{ transaction.hash }}</small>
                </a>
              </td>
              <td>{{ transaction.timestamp | date:'yyyy-MM-dd HH:mm:ss' }}</td>
              <td>
                <span class="label {{ transaction.state | stateClass }}"><a ng-click="search({state: transaction.state})" href="">
                  {{ transaction.state }}</a>
                </span>
                </td>
              <td>{{ transaction.fromAddress }}<br/>{{ transaction.toAddress }}</td>
              <td>{{ transaction.value | asBTC }}</td>
              <td>
                <a ng-click="search({ledger: transaction.ledger})" href="">
                  {{ transaction.ledger }}
                </a>
              </td>
              <td>
                <span class="label {{ transaction.notificationState | stateClass }}">
                <a ng-click="search({notificationState: transaction.notificationState})" href="">
                  {{ transaction.notificationState }} 
                </a></span>
              </td>
             
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>