<div class="row">
  <div class="col-md-12">

	<div class="row">
		<div class="col-md-6">
		    <h1>
		    	Charities&nbsp;
		    	<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#editCharityModal" ng-click="editedCharity={}">
		    		<span class="glyphicon glyphicon-plus"></span> Add
		    	</button>
		    </h1>
		</div>
		<div class="col-md-6">
		    <h3 class="pull-right">
		    	Pending donations <span class="label" ng-class="{'label-warning':pendingDonations, 'label-default':!pendingDonations}">{{ pendingDonations | asBTC }}</span>
		    </h3>
		</div>
	</div>


    <table class="table">
    	<thead>
    		<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Donated BTC</th>
				<th>Image</th>
				<th>Current/ Edit/ Donate</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr ng-repeat="charity in charities">
    			<td>{{ charity.id }}</td>
				<td>{{ charity.name }}</td>
				<td>{{ charity.short_description }}</td>
				<td>{{ charity.donated | asBTC }}</td>
				<td><img ng-src="{{ charity.image_url }}" class="icon"></td>
				<td>
					<div class="btn-group">
						<!-- donate -->
						<button type="button" class="btn btn-default btn-sm" ng-if="charity.current" disabled="disabled">
							<span class="glyphicon glyphicon-check"></span>
						</button>
				    	<button type="button" class="btn btn-default btn-sm" ng-click="setCurrent(charity)" ng-if="!charity.current">
				    		<span class="glyphicon glyphicon-unchecked"></span>
				    	</button>
				    	<!-- edit -->
				    	<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#editCharityModal" ng-click="edit(charity)">
				    		<span class="glyphicon glyphicon-edit"></span>
				    	</button>
				    	<!-- donate -->
				    	<button type="button" class="btn btn-default btn-sm" ng-click="donate(charity)">
				    		<span class="glyphicon glyphicon-cloud-upload"></span>
				    	</button>
					</div>
				</td>
    		</tr>
    	</tbody>
    </table>
  </div>
</div>

  <div class="modal fade" id="editCharityModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{ editedCharity.id ? 'Edit' : 'Add' }} charity</h4>
        </div>
        <div class="modal-body">

			<form role="form">
				<div class="form-group">
					<label for="charity-name">Name</label>
					<input type="text" class="form-control" id="charity-name" placeholder="Enter charity name" ng-model="editedCharity.name">
				</div>
				<div class="form-group">
					<label for="charity-description">Description</label>
					<textarea class="form-control" rows="2" id="charity-description" ng-model="editedCharity.short_description"></textarea>
				</div>
				<div class="form-group">
					<label for="charity-long-description">Long Description</label>
					<textarea class="form-control" rows="4" id="charity-long-description" ng-model="editedCharity.long_description"></textarea>
				</div>
				<div class="form-group">
					<label for="charity-image">Image URL</label>
					<input type="text" class="form-control" id="charity-image" placeholder="Enter charity image URL" ng-model="editedCharity.image_url">
				</div>

				<button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="save()">Save</button>
			</form>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
