<div class="row">
  <div class="col-md-6">
    <h3>Profit so far</h>
    <div class="bignumber primary">{{ profit | asBTC }} BTC</div>
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <h3>Active users</h3>
      <div class="bignumber success">{{ usersStats.active }}</div>
    </div>
    <div class="col-md-6">
      <h3>Inactive users</h3>
      <div class="bignumber danger">{{ usersStats.inactive }}</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Bonuses granted so far</h>
    <div class="bignumber primary">{{ bonuses | asBTC }} BTC</div>
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
     
    </div>
    <div class="col-md-6">
      
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Total Customer Assets in Circle</h3>
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <h3>Confirmed only</h3>
      <div class="bignumber success">{{ confirmed | asBTC }}  BTC</div>
    </div>
    <div class="col-md-6">
      <h3>Total</h3>
      <div class="bignumber danger">{{ total | asBTC }}  BTC</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Total Assets in Processor</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <h3>Confirmed</h3>
      <div class="bignumber success">{{ btcMainTotalConfirmed+btcFrontTotalConfirmed | asBTC}}</div>
    </div>
    <div class="col-md-6">
      <h3>Estimated</h3>
      <div class="bignumber danger">{{ btcMainTotalEstimated+btcFrontTotalEstimated | asBTC}}</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <h3>Total Confirmed in Front Wallets</h3>
      <div class="bignumber success">{{ btcFrontTotalConfirmed | asBTC}}</div>
    </div>
    <div class="col-md-6">
      <h3>Total Confirmed in Main Wallets</h3>
      <div class="bignumber danger">{{ btcMainTotalConfirmed | asBTC}}</div>
    </div>
  </div>
</div>