<div class="row">
  <div class="col-md-12">
    <h1>Transactions</h1>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="sr-only" for="searchTerm">Enter search term</label>
          <input type="text" class="form-control" id="searchTerm" ng-model="term" placeholder="Enter search term">
        </div>
      </div>
      <div class="col-md-6">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default" ng-click="offset = offset == 0 ? 0 : offset-limit" ng-class="{disabled:offset == 0}">&larr;</button>
          <button type="button" class="btn btn-default" ng-click="offset = transactions.length < limit ? offset : offset+limit" ng-class="{disabled:transactions.length < limit}">&rarr;</button>
        </div>
      </div>
    </div>

    <table class="table fixed">
      <thead>
        <tr>
          <th>ID</th>
          <th class="col-md-1">User</th>
          <th class="col-md-1">Amount (BTC)</th>
          <th>Time</th>
          <th class="col-md-1">Status</th>
          <th>Wallet</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="transaction in transactions">
          <td>
            <a href="#/btc/transactions?hash={{ transaction.transaction_id }}">
              {{ transaction.transaction_id }}
            </a>
          </td>
          <td class="col-md-1">{{ transaction.name }}</td>
          <td class="col-md-1">{{ (transaction.cr || -transaction.dr) | asBTC }}</td>
          <td>{{ transaction.timestamp | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
          <td class="col-md-1">
            <span class="label {{ transaction.status | stateClass }}">{{ transaction.status }}</span>
          </td>
          <td>{{ transaction.wallet_id }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>