<div class="row">
  <div class="col-md-12">
    <h1>Unconfirmed transactions</h1>

    <div class="row">
      <div class="col-md-12">

        <form class="form-inline" role="form">

          <!-- Period -->
          <div class="form-group">
            <label for="period" class="control-label">For the last</label>
            <select class="form-control" id="period" ng-model="period" ng-options="p for p in periods"></select>
          </div>

        </form>
      </div>

    </div>

    <!-- Game transactions -->
    <div class="row">

      <div class="col-md-10">
        <h2>Game transactions</h2>
      </div>

      <div class="col-md-2">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default" ng-click="gameOffset = (gameOffset == 0 ? 0 : gameOffset-limit)" ng-class="{disabled:gameOffset == 0}">&larr;</button>
          <button type="button" class="btn btn-default" ng-click="gameOffset = gameTransactions.length < limit ? gameOffset : gameOffset+limit" ng-class="{disabled:gameTransactions.length < limit}">&rarr;</button>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">

        <table class="table fixed">
          <thead>
            <tr>
              <th>ID</th>
              <th class="col-md-1">User ID</th>
              <th class="col-md-1">Amount (BTC)</th>
              <th>Time</th>
              <th class="col-md-1">Status</th>
              <th>Wallet</th>
              <th class="col-md-1">Tools</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="transaction in gameTransactions">
              <td>
                <a href="#/btc/transactions?hash={{ transaction.transaction_id }}">
                  {{ transaction.transaction_id }}
                </a>
              </td>
              <td class="col-md-1">{{ transaction.user_id }}</td>
              <td class="col-md-1">{{ (transaction.cr || -transaction.dr) | asBTC }}</td>
              <td>{{ transaction.timestamp | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
              <td class="col-md-1"><span class="label {{ transaction.status | stateClass }}">{{ transaction.status }}</span></td>
              <td>{{ transaction.wallet_id }}</td>
              <td class="col-md-1">
                <button type="button" class="btn btn-default btn-sm" 
                  ng-click="confirmGameTransaction(transaction)"
                  tooltip="Manually confirm this transaction">
                  <span class="glyphicon glyphicon-check"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <!-- Processor transactions -->
    <div class="row">

      <div class="col-md-10">
        <h2>Processor transactions</h2>
      </div>

      <div class="col-md-2">
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default" ng-click="btcOffset = (btcOffset == 0 ? 0 : btcOffset-limit)" ng-class="{disabled:btcOffset == 0}">&larr;</button>
          <button type="button" class="btn btn-default" ng-click="btcOffset = btcTransactions.length < limit ? btcOffset : btcOffset+limit" ng-class="{disabled:btcTransactions.length < limit}">&rarr;</button>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        
        <table class="table fixed">
          <thead>
            <tr>
              <th>ID</th>
              <th>Time</th>
              <th class="col-md-1">State</th>
              <th>From</th>
              <th>To</th>
              <th class="col-md-1">Value</th>
              <th class="col-md-1">Ledger</th>
              <th class="col-md-1">Notification state</th>
              <th>Hash</th>
              <th class="col-md-1">Tools</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="transaction in btcTransactions">
              <td>{{ transaction.id }}</td>
              <td>{{ transaction.timestamp | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
              <td class="col-md-1"><span class="label label-default">{{ transaction.state }}</span></td>
              <td>{{ transaction.fromAddress }}</td>
              <td>{{ transaction.toAddress }}</td>
              <td class="col-md-1">{{ transaction.value | asBTC }}</td>
              <td class="col-md-1">{{ transaction.ledger }}</td>
              <td class="col-md-1"><span class="label {{ transaction.notificationState | stateClass }}">{{ transaction.notificationState }}</span></td>
              <td>
                <a href="#/transactions?id={{ transaction.hash }}">
                  {{ transaction.hash }}
                </a>
              </td>
              <td>
                <div class="btn-group">
                    <!-- donate -->
                    <button type="button" class="btn btn-default btn-sm" 
                        tooltip="Set state to MANUAL"
                        ng-click="setProcessorTransactionToManual(transaction)" 
                        ng-if="transaction.ledger !== 'IN'">
                      <span class="glyphicon glyphicon-check"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" 
                        ng-click="createCorrespondingGameTransaction(transaction)" 
                        ng-if="transaction.ledger === 'IN'"
                        tooltip="Create corresponding game transaction and set status of this one to MANUAL">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>