<div class="row">
  <div class="col-md-12">
    <h1>Users</h1>

    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-click="filter='active'" ng-class="{active:filter==='active'}">Active</button>
      <button type="button" class="btn btn-default" ng-click="filter='inactive'" ng-class="{active:filter==='inactive'}">Inactive</button>
    </div>

    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default" ng-click="offset = offset == 0 ? 0 : offset-limit" ng-class="{disabled:offset == 0}">&larr;</button>
      <button type="button" class="btn btn-default" ng-click="offset = users.length < limit ? offset : offset+limit" ng-class="{disabled:users.length < limit}">&rarr;</button>
    </div>

    <table class="table">
    	<thead>
    		<tr>
    			<th>ID</th>
          <th>Name</th>
    			<th ng-if="filter!=='inactive'">Balance (BTC)</th>
          <th ng-if="filter!=='inactive'">Last activity</th>
    			<th>Front Wallet</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr ng-repeat="user in users">
    			<td>{{ user.id }}</td>
          <td>{{ user.name || 'anonymous' }}</td>
    			<td ng-if="filter!=='inactive'">{{ (user.cr - user.dr) | asBTC }}</td>
          <td ng-if="filter!=='inactive'">{{ user.last_activity | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
    			<td>{{ user.wallet_id }}</td>
    		</tr>
    	</tbody>
    </table>
  </div>
</div>