<div class="row">
  <div class="col-md-12">
    <h1>Wallets</h1>

    <div class="row">
      <div class="col-md-12">
        <h3>Front Wallets</h3>

        <!-- filters -->
        <div class="row">
          <div class="col-md-10">
            <form class="form-horizontal" role="form">
              <div class="row">
                <div class="col-md-6">

                  <div class="checkbox">
                    <input type="checkbox" ng-model="params.requireAttention" ng-change="search()" ng-true-value="true" ng-false-value="false"> Require Attention
                  </div>

                  <!-- address -->
                  <div class="form-group">
                    <label for="walletAddress" class="col-sm-3 control-label">Address</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="walletAddress" placeholder="Address" ng-model="params.address">
                    </div>
                  </div>

                  <!-- search -->
                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                      <button type="submit" class="btn btn-primary" ng-click="search()">Search</button>
                    </div>
                  </div>

                </div>
              </div>
            </form>
          </div>
      </div>

        <!-- pagination -->
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default" ng-click="walletsOffset = walletsOffset == 0 ? 0 : walletsOffset-limit" ng-class="{disabled:walletsOffset == 0}">&larr;</button>
          <button type="button" class="btn btn-default" ng-click="offset = walletsOffset.length < limit ? walletsOffset : walletsOffset+limit" ng-class="{disabled:wallets.length < limit}">&rarr;</button>
        </div>

        <table class="table fixed">
          <thead>
            <tr>
              <th>Address</th>
              <th class="col-md-1">Estimated Balance</th>
              <th class="col-md-1">Confirmed Balance</th>
              <th class="col-md-1">User</th>
              <th class="col-md-1">Game balance</th>
              <th class="col-md-3">Last transaction</th>
              <th class="col-md-1">Empty</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="wallet in wallets">
              <td>{{ wallet.address }}</td>
              <td class="col-md-1">{{ wallet.balanceNanoEstimated | asBTC }}</td>
              <td class="col-md-1">{{ wallet.balanceNanoConfirmed | asBTC}}</td>
              <td class="col-md-1">
                <span ng-if="wallet.user.name">{{ wallet.user.name }}</span>
                <span ng-if="!wallet.user.name">player {{ wallet.user.id }}</span>
              </td>
              <td class="col-md-1">{{ wallet.user.balance | asBTC}}</td>
              <td class="col-md-3">
                <a ng-if="wallet.lastTransaction.id" href="#/btc/transactions?hash={{wallet.lastTransaction.id}}" class="group-link">
                  <span class="label label-info">{{ wallet.lastTransaction.type }}</span>
                  <span class="label {{ wallet.lastTransaction.status | stateClass }}">{{ wallet.lastTransaction.status }}</span>
                  <span>{{ wallet.lastTransaction.amount | asBTC }}</span>
                </a>
                <span ng-if="!wallet.lastTransaction.id">No transactions</span>
              </td>
              <td class="col-md-1">
                <button class="btn btn-default btn-sm" ng-click="empty(wallet.address)" ng-show="wallet.balanceNanoConfirmed > 0">
                  <span class="glyphicon glyphicon-arrow-down"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <h3>Main Wallets</h3>
        <table class="table">
          <thead>
            <tr>
            <th>Address</th>
            <th>Estimated Balance</th>
            <th>Confirmed Balance</th>
            <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="wallet in mainWallets">
              <td>{{ wallet.address }}</td>
              <td>{{ wallet.balanceNanoEstimated | asBTC }}</td>
               <td>{{ wallet.balanceNanoConfirmed | asBTC}}</td>
                <td> <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#toColdWalletModal" ng-click="setAddressToColdWallet(wallet.address)">
                <span class="glyphicon glyphicon-edit"></span>
              </button></td>

            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>
<div id="tocoldwallet" class="modal hide fade in" style="display: none; ">
<div class="modal-header">
<a class="close" data-dismiss="modal">×</a>
<h3>Transfer to cold wallet</h3>
</div>
<div class="modal-body">
<h4>Selected Main Wallet: {{ maintocold }}</h4>
<p>You can add some text here.</p>
</div>
<div class="modal-footer">
<a href="#" class="btn btn-success">Transfer</a>
<a href="#" class="btn" data-dismiss="modal">Close</a>
</div>
</div>

 <div class="modal fade" id="toColdWalletModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Transfer funds to cold wallet from main wallet: {{addressToColdWallet}}</h4>
        </div>
        <div class="modal-body">

      <form role="form">
        <div class="form-group">
          <label for="charity-name">Amount in Nanocoins</label>
          <input type="text" class="form-control" id="amount" placeholder="Enter NanoCoins" ng-model="amount">
        </div>


        <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="toColdWallet(addressToColdWallet,amount)">Transfer
        </button>
      </form>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
